smw/ccds/CCD_163ebc9b-1272-472e-9b7f-92182d455d6a/ccd-163ebc9b-1272-472e-9b7f-92182d455d6a.xsd

<?xml version='1.0' encoding='UTF-8'?>
<?xml-stylesheet type='text/xsl' href='http://hkcr.net/tools/ccd_md_view.xsl'?>
<xs:schema  xmlns:xs='http://www.w3.org/2001/XMLSchema'
  xmlns:mlhim2='http://www.mlhim.org/xmlns/mlhim2/2_4_2'
  xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#'
  xmlns:owl='http://www.w3.org/2002/07/owl#'
  xmlns:dc='http://purl.org/dc/elements/1.1/'
  xmlns:sawsdl='http://www.w3.org/ns/sawsdl'
  xmlns:sawsdlrdf='http://www.w3.org/ns/sawsdl#'
  xmlns:rdfs='http://www.w3.org/2000/01/rdf-schema#'
  id='mlhim2-ccd-163ebc9b-1272-472e-9b7f-92182d455d6a'
  elementFormDefault='qualified'
  targetNamespace='http://www.mlhim.org/xmlns/mlhim2/2_4_2'
>

  <!-- METADATA Section -->
  <xs:annotation>
    <xs:appinfo>
    <rdf:RDF>
    <rdf:Description rdf:about='http://www.hkcr.net/ccd/ccd-163ebc9b-1272-472e-9b7f-92182d455d6a.xsd'>
      <dc:title>Contact Information</dc:title>
      <dc:creator>Timothy W. Cook tim@mlhim.org</dc:creator>
      <dc:contributor>None</dc:contributor>
      <dc:subject>Contact Information; address; telephone; email</dc:subject>
      <dc:relation>None</dc:relation>
      <dc:coverage>Universal</dc:coverage>
      <dc:type>MLHIM Concept Constraint Definition (CCD)</dc:type>
      <dc:identifier>ccd-163ebc9b-1272-472e-9b7f-92182d455d6a</dc:identifier>
      <dc:description>
        Mail, home and work addresses, telephone numbers and email addresses.
        This CCD was created by the CCD-Gen application.
      </dc:description>
      <dc:publisher>Timothy W. Cook</dc:publisher>
      <dc:date>2013-05-23 23:32:30.115569+00:00</dc:date>
      <dc:format>text/xml</dc:format>
      <dc:language>en-us</dc:language>
    </rdf:Description>
    </rdf:RDF>
    </xs:appinfo>
  </xs:annotation>

  <!-- Include the Reference Model -->
  <xs:include schemaLocation='http://www.mlhim.org/xmlns/mlhim2/2_4_2/mlhim2.xsd'/>

  <!-- CCD Root Element -->
  <xs:element name='ccd-163ebc9b-1272-472e-9b7f-92182d455d6a' type='mlhim2:ct-163ebc9b-1272-472e-9b7f-92182d455d6a'/>
  <xs:complexType name='ct-163ebc9b-1272-472e-9b7f-92182d455d6a'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:CCDType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-c63f44cd-c5cd-4ff1-93d0-a2724f4f448e'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

    <!-- CCD Components Begin Below -->

  <xs:complexType name='ct-c63f44cd-c5cd-4ff1-93d0-a2724f4f448e'>
    <xs:annotation>
    <xs:documentation>
      A person's address and telephone inforamtion.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-c63f44cd-c5cd-4ff1-93d0-a2724f4f448e : Contact Information -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DemographicEntryType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-28856084-574f-488f-88e9-5ed2f1fc9eac'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-13df6583-ba82-4799-8531-d35322065f81'/>
          <xs:element maxOccurs='1' minOccurs='1' name='language' type='xs:language' fixed='en-us'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' fixed='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-83cfaa04-2563-43c0-8411-5a3adc7b12b4'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-83fc62c8-8df8-472a-b590-d8ecea82d695'/>
        <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-f3fb4579-a301-45c0-97ec-75cea528fef8'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-bb90b5b3-cd96-4f91-b1b0-e1a817dad7b7'/>
          <xs:element maxOccurs='1' minOccurs='0' name='current-state' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-3f8593d7-1a37-4a60-8a21-27c4039a9024'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-b7b86cc2-5d7d-4117-a3f6-625f91586538'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-9f6798a6-612f-4adf-b821-56dcf149a7ab'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-28856084-574f-488f-88e9-5ed2f1fc9eac'>
    <xs:annotation>
    <xs:documentation>
       X connected_to Y if and only if X and Y share a fiat boundary.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-28856084-574f-488f-88e9-5ed2f1fc9eac'>
    <rdf:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/RO_0002150'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvURIType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Connected To'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvURI-dv' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='connected to'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-13df6583-ba82-4799-8531-d35322065f81'>
    <xs:annotation>
    <xs:documentation>
      A generic audit.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-13df6583-ba82-4799-8531-d35322065f81 : Audit -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:FeederAuditType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-ada87686-6d23-4ff9-9fdf-56ce6abf8a23'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-1d1ab245-2ce4-400d-bd50-a04e4eed9512'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-28c06c40-d8aa-4a76-9433-5a5a6920c712'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-fa8e54f9-f5c4-46c2-86e5-c8e1441b29dd'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:original-content'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-ada87686-6d23-4ff9-9fdf-56ce6abf8a23'>
    <xs:annotation>
    <xs:documentation>
      Originating System Details
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-ada87686-6d23-4ff9-9fdf-56ce6abf8a23 : Originating System Details -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:FeederAuditDetailsType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-1d1ab245-2ce4-400d-bd50-a04e4eed9512'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-83fc62c8-8df8-472a-b590-d8ecea82d695'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-33c82fb2-4656-468c-a737-045fa2560b6d'/>
          <xs:element maxOccurs='1' minOccurs='0' name='timestamp' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-83cfaa04-2563-43c0-8411-5a3adc7b12b4'/>
          <xs:element maxOccurs='1' minOccurs='0' name='version-id' type='xs:string'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-1d1ab245-2ce4-400d-bd50-a04e4eed9512'>
    <xs:annotation>
    <xs:documentation>
      Originating System ID
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-1d1ab245-2ce4-400d-bd50-a04e4eed9512 : Originating System ID -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvIdentifierType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Originating System ID'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
            <xs:element maxOccurs='1' minOccurs='0' name='DvString-dv'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='id-name'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='System ID'>
                  <xs:annotation>
                    <xs:appinfo>
                      System ID
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='issuer'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Owner'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='assignor'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Owner'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-83fc62c8-8df8-472a-b590-d8ecea82d695'>
    <xs:annotation>
    <xs:documentation>
      A generic, reusable PartyIdentified. The details cluster should first be copied and then specifics added to the new details cluster. 
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-83fc62c8-8df8-472a-b590-d8ecea82d695 : Generic PartyIdentified -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyIdentifiedType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-4c8a56b0-c452-4b78-a861-1f2a47163693'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:details'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-4c8a56b0-c452-4b78-a861-1f2a47163693'>
    <xs:annotation>
    <xs:documentation>
      A generic URI for use with PartyIdentified to be used as a pointer to a demographic service record.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-4c8a56b0-c452-4b78-a861-1f2a47163693 : External Reference for PartyIdentified -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvURIType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='External Reference for PartyIdentified'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvURI-dv' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='Party Associated with the record'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-33c82fb2-4656-468c-a737-045fa2560b6d'>
    <xs:annotation>
    <xs:documentation>
      System Location for feeder audit. Uses decimal format WGS84 lat/lon coordinates.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-33c82fb2-4656-468c-a737-045fa2560b6d : System Location (WGS84) -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='cluster-subject' type='xs:string' fixed='System Location (WGS84)'/>
      <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-9e3cc8ba-cbf2-402f-b4f8-89c38a7d3e55'/><!-- DvString Latitude (Decimal Format) -->
      <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-a2633282-5100-4a61-9a5e-b88785c1664c'/><!-- DvString Longitude (Decimal Format) -->
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-9e3cc8ba-cbf2-402f-b4f8-89c38a7d3e55' substitutionGroup='mlhim2:items' type='mlhim2:ct-9e3cc8ba-cbf2-402f-b4f8-89c38a7d3e55'/>
  <xs:complexType name='ct-9e3cc8ba-cbf2-402f-b4f8-89c38a7d3e55'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-be2bacd2-2992-447a-bafe-1cda72da8033'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='ct-be2bacd2-2992-447a-bafe-1cda72da8033'>
    <xs:annotation>
    <xs:documentation>
      Matches a latitude in the range of -90 to 90 degrees, with between 1 and 6 trailing decimal places.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-be2bacd2-2992-447a-bafe-1cda72da8033 : Latitude (Decimal Format) -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Latitude (Decimal Format)'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          </xs:sequence>
          <xs:assert test="matches(mlhim2:DvString-dv, '^-?([1-8]?[0-9]\.{1}\d{1,6}$|90\.{1}0{1,6}$)')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-a2633282-5100-4a61-9a5e-b88785c1664c' substitutionGroup='mlhim2:items' type='mlhim2:ct-a2633282-5100-4a61-9a5e-b88785c1664c'/>
  <xs:complexType name='ct-a2633282-5100-4a61-9a5e-b88785c1664c'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-ee0b9a9b-797b-40cc-96e5-bc5fdc31b525'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='ct-ee0b9a9b-797b-40cc-96e5-bc5fdc31b525'>
    <xs:annotation>
    <xs:documentation>
      Matches a longitude in the range of -180 to 180 degrees, with between 1 and 6 trailing decimal places.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-ee0b9a9b-797b-40cc-96e5-bc5fdc31b525 : Longitude (Decimal Format) -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Longitude (Decimal Format)'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          </xs:sequence>
          <xs:assert test="matches(mlhim2:DvString-dv, '^-?((([1]?[0-7][0-9]|[1-9]?[0-9])\.{1}\d{1,6}$)|[1]?[1-8][0]\.{1}0{1,6}$)')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-83cfaa04-2563-43c0-8411-5a3adc7b12b4'>
    <xs:annotation>
    <xs:documentation>
      A generic PartySelf entry to be used where no other specifics are needed.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-83cfaa04-2563-43c0-8411-5a3adc7b12b4'>
    <rdf:isDefinedBy rdf:resource='http%3A//www.mlhim.org'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartySelfType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='party-name' type='xs:string' fixed='Self'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-28c06c40-d8aa-4a76-9433-5a5a6920c712'>
    <xs:annotation>
    <xs:documentation>
      Feeder System Audit
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-28c06c40-d8aa-4a76-9433-5a5a6920c712 : Feeder System Audit -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:FeederAuditDetailsType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-fa8e54f9-f5c4-46c2-86e5-c8e1441b29dd'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-83fc62c8-8df8-472a-b590-d8ecea82d695'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-33c82fb2-4656-468c-a737-045fa2560b6d'/>
          <xs:element maxOccurs='1' minOccurs='0' name='timestamp' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-83cfaa04-2563-43c0-8411-5a3adc7b12b4'/>
          <xs:element maxOccurs='1' minOccurs='0' name='version-id' type='xs:string'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-fa8e54f9-f5c4-46c2-86e5-c8e1441b29dd'>
    <xs:annotation>
    <xs:documentation>
      A system ID
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-fa8e54f9-f5c4-46c2-86e5-c8e1441b29dd : Feeder System ID -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvIdentifierType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Feeder System ID'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
            <xs:element maxOccurs='1' minOccurs='0' name='DvString-dv'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='id-name'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='System ID'>
                  <xs:annotation>
                    <xs:appinfo>
                      System ID
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='issuer'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Owner'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='assignor'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Owner'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-f3fb4579-a301-45c0-97ec-75cea528fef8'>
    <xs:annotation>
    <xs:documentation>
      Entry Participation
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-f3fb4579-a301-45c0-97ec-75cea528fef8 : Entry Participation -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ParticipationType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-83fc62c8-8df8-472a-b590-d8ecea82d695'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-e7be0ef7-95ef-4881-8d02-f06e90282f89'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-409b7178-d245-406b-a614-daa8a2a63a0d'/>
          <xs:element maxOccurs='1' minOccurs='0' name='start-time' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='end-time' type='xs:dateTime'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-e7be0ef7-95ef-4881-8d02-f06e90282f89'>
    <xs:annotation>
    <xs:documentation>
      Participation Function
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-e7be0ef7-95ef-4881-8d02-f06e90282f89'>
      <rdf:isDefinedBy rdf:resource='http%3A//xmlns.com/foaf/spec/%23glance'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvCodedStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Participation Function'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Agent'/>
                <xs:enumeration value='Group'/>
                <xs:enumeration value='Organization'/>
                <xs:enumeration value='Person'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-abbrev'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='FOAF'/>
                <xs:enumeration value='FOAF'/>
                <xs:enumeration value='FOAF'/>
                <xs:enumeration value='FOAF'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-name'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Friend Of A Friend'/>
                <xs:enumeration value='Friend Of A Friend'/>
                <xs:enumeration value='Friend Of A Friend'/>
                <xs:enumeration value='Friend Of A Friend'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-version'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='0.98'/>
                <xs:enumeration value='0.98'/>
                <xs:enumeration value='0.98'/>
                <xs:enumeration value='0.98'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-code'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Agent'>
                  <xs:annotation>
                    <xs:appinfo>
                      Agent
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Group'>
                  <xs:annotation>
                    <xs:appinfo>
                      Group
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Organization'>
                  <xs:annotation>
                    <xs:appinfo>
                      Organization
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Person'>
                  <xs:annotation>
                    <xs:appinfo>
                      Person
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-409b7178-d245-406b-a614-daa8a2a63a0d'>
    <xs:annotation>
    <xs:documentation>
      A generic definition that the participation mode is some type of agent. 
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-409b7178-d245-406b-a614-daa8a2a63a0d : Participation Mode -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvCodedStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Participation Mode'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Agent'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-abbrev'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='FOAF'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-name'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Friend Of A Friend'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-version'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='0.98'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-code'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Agent'>
                  <xs:annotation>
                    <xs:appinfo>
                      Agent
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-bb90b5b3-cd96-4f91-b1b0-e1a817dad7b7'>
    <xs:annotation>
    <xs:documentation>
      A generic Protocol ID
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-bb90b5b3-cd96-4f91-b1b0-e1a817dad7b7 : Protocol ID -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvIdentifierType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Protocol ID'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
            <xs:element maxOccurs='1' minOccurs='0' name='DvString-dv'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='id-name'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Identifier'>
                  <xs:annotation>
                    <xs:appinfo>
                      Identifier
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='issuer'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Definer'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
            <xs:element maxOccurs='1' minOccurs='1' name='assignor'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='Definer'/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-3f8593d7-1a37-4a60-8a21-27c4039a9024'>
    <xs:annotation>
    <xs:documentation>
      The link points to the workflow definition
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-3f8593d7-1a37-4a60-8a21-27c4039a9024'>
    <rdf:isDefinedBy rdf:resource='http%3A//purl.obolibrary.org/obo/IAO_0000178'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvURIType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Workflow ID'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvURI-dv' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='material information bearer'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-b7b86cc2-5d7d-4117-a3f6-625f91586538'>
    <xs:annotation>
    <xs:documentation>
      A generic attestation. 
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-b7b86cc2-5d7d-4117-a3f6-625f91586538 : Attestation -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:AttestationType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-30b1270f-ee0b-49bc-a645-e87a897359e6'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-ba3fa7c7-72e7-48ef-a7e1-e85e0a326620'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-b5e4d968-d3dc-496c-8e86-e07c505aafd8'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-83fc62c8-8df8-472a-b590-d8ecea82d695'/>
          <xs:element maxOccurs='1' minOccurs='0' name='time-committed' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' default='true' name='is-pending' type='xs:boolean'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-30b1270f-ee0b-49bc-a645-e87a897359e6'>
    <xs:annotation>
    <xs:documentation>
      A generic container for an attestation view.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-30b1270f-ee0b-49bc-a645-e87a897359e6 : Attestation View -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvMediaType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Attestation View'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='size' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language' default='en-us'/>
          <xs:element maxOccurs='1' minOccurs='0' name='mime-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='compression-type' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-result' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' name='hash-function' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='0' name='alt-txt' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='0' name='uri' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='0' name='media-content' type='xs:base64Binary'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-ba3fa7c7-72e7-48ef-a7e1-e85e0a326620'>
    <xs:annotation>
    <xs:documentation>
      A generic container for an attestation proof document.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-ba3fa7c7-72e7-48ef-a7e1-e85e0a326620 : Proof -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvParsableType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Proof'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='size' type='xs:int'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='0' name='language' type='xs:language' default='en-us'/>
          <xs:element maxOccurs='1' minOccurs='0' name='DvParsable-dv' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='1' name='formalism' type='xs:string'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-b5e4d968-d3dc-496c-8e86-e07c505aafd8'>
    <xs:annotation>
    <xs:documentation>
      A finalized release of some information entity.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-b5e4d968-d3dc-496c-8e86-e07c505aafd8'>
      <rdf:isDefinedBy rdf:resource='http%3A//usefulinc.com/ns/doap%2523release'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvCodedStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Attestation Reason'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='release'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-abbrev'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='DOAP'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-name'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Description of a Project'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-version'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='0.1'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-code'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='release'>
                  <xs:annotation>
                    <xs:appinfo>
                      release
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-9f6798a6-612f-4adf-b821-56dcf149a7ab'>
    <xs:annotation>
    <xs:documentation>
      Mail, home and work addresses, telephone numbers and email addresses.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-9f6798a6-612f-4adf-b821-56dcf149a7ab : Contact Information -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='cluster-subject' type='xs:string' fixed='Contact Information'/>
      <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-e3fbe6a3-818b-4472-94aa-d30101e85012'/><!-- Cluster Home Address -->
      <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-36bbbb9e-e16a-4d7d-a233-b47aa8693d66'/><!-- Cluster Work Address -->
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-e3fbe6a3-818b-4472-94aa-d30101e85012'>
    <xs:annotation>
    <xs:documentation>
      Home Address and telephone information.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-e3fbe6a3-818b-4472-94aa-d30101e85012 : Home Address -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='cluster-subject' type='xs:string' fixed='Home Address'/>
      <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-d24affc1-a9ff-487a-9029-204f3b4d8e7e'/><!-- DvString Additional Address Line(s) (US)  -->
      <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-b65ea20c-3768-45cd-a059-004ece61bc89'/><!-- DvString City Name (US) -->
      <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-2bb59f5a-223e-4b8e-b63f-ed8beb62849e'/><!-- DvString State Abbreviation (USPS) -->
      <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-caa2be1d-3e6c-4cea-b44c-9829d7b23b3f'/><!-- DvString Street Number and Name (US) -->
      <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-13354334-0250-4041-8b6c-ac7eefa93c88'/><!-- DvString Telephone Number (US) -->
      <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-c64b7604-6189-412d-bb70-48baba85f366'/><!-- DvString Zip Code (US) -->
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-d24affc1-a9ff-487a-9029-204f3b4d8e7e' substitutionGroup='mlhim2:items' type='mlhim2:ct-d24affc1-a9ff-487a-9029-204f3b4d8e7e'/>
  <xs:complexType name='ct-d24affc1-a9ff-487a-9029-204f3b4d8e7e'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-f68952f0-a2d5-44de-8f60-0ea7c82f4da2'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='ct-f68952f0-a2d5-44de-8f60-0ea7c82f4da2'>
    <xs:annotation>
    <xs:documentation>
      Used for additional address lines in the US such as building name or apartment number.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-f68952f0-a2d5-44de-8f60-0ea7c82f4da2 : Additional Address Line(s) (US)  -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Additional Address Line(s) (US) '/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-b65ea20c-3768-45cd-a059-004ece61bc89' substitutionGroup='mlhim2:items' type='mlhim2:ct-b65ea20c-3768-45cd-a059-004ece61bc89'/>
  <xs:complexType name='ct-b65ea20c-3768-45cd-a059-004ece61bc89'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-c055add9-f332-4ede-9f52-b2488641f2ac'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='ct-c055add9-f332-4ede-9f52-b2488641f2ac'>
    <xs:annotation>
    <xs:documentation>
      Used in US address cluster for the City name.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-c055add9-f332-4ede-9f52-b2488641f2ac : City Name (US) -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='City Name (US)'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-2bb59f5a-223e-4b8e-b63f-ed8beb62849e' substitutionGroup='mlhim2:items' type='mlhim2:ct-2bb59f5a-223e-4b8e-b63f-ed8beb62849e'/>
  <xs:complexType name='ct-2bb59f5a-223e-4b8e-b63f-ed8beb62849e'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-350a6f2e-f90a-4232-991f-bf863404af27'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='ct-350a6f2e-f90a-4232-991f-bf863404af27'>
    <xs:annotation>
    <xs:documentation>
      Used in US address cluster for two character US state abbreviation.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-350a6f2e-f90a-4232-991f-bf863404af27 : State Abbreviation (USPS) -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='State Abbreviation (USPS)'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
              <xs:simpleType>
                <xs:restriction base='xs:string'>
                  <xs:enumeration value='AL'>
                  <xs:annotation>
                    <xs:appinfo>
                      Alabama
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AK'>
                  <xs:annotation>
                    <xs:appinfo>
                      Alaska
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AS'>
                  <xs:annotation>
                    <xs:appinfo>
                      American Samoa
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AZ'>
                  <xs:annotation>
                    <xs:appinfo>
                      Arizona
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AR'>
                  <xs:annotation>
                    <xs:appinfo>
                      Arkansas
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CA'>
                  <xs:annotation>
                    <xs:appinfo>
                      California
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CO'>
                  <xs:annotation>
                    <xs:appinfo>
                      Colorado
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CT'>
                  <xs:annotation>
                    <xs:appinfo>
                      Connecticut
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DE'>
                  <xs:annotation>
                    <xs:appinfo>
                      Delaware
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='DC'>
                  <xs:annotation>
                    <xs:appinfo>
                      District of Columbia
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FM'>
                  <xs:annotation>
                    <xs:appinfo>
                      Federated States of Micronesia
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='FL'>
                  <xs:annotation>
                    <xs:appinfo>
                      Florida
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Georgia
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='GU'>
                  <xs:annotation>
                    <xs:appinfo>
                      Guam
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='HI'>
                  <xs:annotation>
                    <xs:appinfo>
                      Hawaii
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ID'>
                  <xs:annotation>
                    <xs:appinfo>
                      Idaho
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IL'>
                  <xs:annotation>
                    <xs:appinfo>
                      Illinois
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IN'>
                  <xs:annotation>
                    <xs:appinfo>
                      Indiana
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='IA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Iowa
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KS'>
                  <xs:annotation>
                    <xs:appinfo>
                      Kansas
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='KY'>
                  <xs:annotation>
                    <xs:appinfo>
                      Kentucky
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='LA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Louisiana
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ME'>
                  <xs:annotation>
                    <xs:appinfo>
                      Maine
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MH'>
                  <xs:annotation>
                    <xs:appinfo>
                      Marshall Islands
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MD'>
                  <xs:annotation>
                    <xs:appinfo>
                      Maryland
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Massachusetts
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MI'>
                  <xs:annotation>
                    <xs:appinfo>
                      Michigan
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MN'>
                  <xs:annotation>
                    <xs:appinfo>
                      Minnesota
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MS'>
                  <xs:annotation>
                    <xs:appinfo>
                      Mississippi
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MO'>
                  <xs:annotation>
                    <xs:appinfo>
                      Missouri
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MT'>
                  <xs:annotation>
                    <xs:appinfo>
                      Montana
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NE'>
                  <xs:annotation>
                    <xs:appinfo>
                      Nebraska
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NV'>
                  <xs:annotation>
                    <xs:appinfo>
                      Nevada
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NH'>
                  <xs:annotation>
                    <xs:appinfo>
                      New Hampshire
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NJ'>
                  <xs:annotation>
                    <xs:appinfo>
                      New Jersey
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NM'>
                  <xs:annotation>
                    <xs:appinfo>
                      New Mexico
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NY'>
                  <xs:annotation>
                    <xs:appinfo>
                      New York
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='NC'>
                  <xs:annotation>
                    <xs:appinfo>
                      North Carolina
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='ND'>
                  <xs:annotation>
                    <xs:appinfo>
                      North Dakota
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='MP'>
                  <xs:annotation>
                    <xs:appinfo>
                      Northern Mariana Islands
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='CM'>
                  <xs:annotation>
                    <xs:appinfo>
                      Northern Mariana Islands
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OH'>
                  <xs:annotation>
                    <xs:appinfo>
                      Ohio
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OK'>
                  <xs:annotation>
                    <xs:appinfo>
                      Oklahoma
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='OR'>
                  <xs:annotation>
                    <xs:appinfo>
                      Oregon
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Pennsylvania
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='PR'>
                  <xs:annotation>
                    <xs:appinfo>
                      Puerto Rico
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='RI'>
                  <xs:annotation>
                    <xs:appinfo>
                      Rhode Island
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SC'>
                  <xs:annotation>
                    <xs:appinfo>
                      South Carolina
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='SD'>
                  <xs:annotation>
                    <xs:appinfo>
                      South Dakota
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TN'>
                  <xs:annotation>
                    <xs:appinfo>
                      Tennessee
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TX'>
                  <xs:annotation>
                    <xs:appinfo>
                      Texas
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='TT'>
                  <xs:annotation>
                    <xs:appinfo>
                      Trust Territory of the Pacific Islands
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AA'>
                  <xs:annotation>
                    <xs:appinfo>
                      U.S. Armed ForcesAmericas
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AE'>
                  <xs:annotation>
                    <xs:appinfo>
                      U.S. Armed Forces Europe
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='AP'>
                  <xs:annotation>
                    <xs:appinfo>
                      U.S. Armed Forces Pacific
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='UT'>
                  <xs:annotation>
                    <xs:appinfo>
                      Utah
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VT'>
                  <xs:annotation>
                    <xs:appinfo>
                      Vermont
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VI'>
                  <xs:annotation>
                    <xs:appinfo>
                      Virgin Islands
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='VA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Virginia
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WA'>
                  <xs:annotation>
                    <xs:appinfo>
                      Washington
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WV'>
                  <xs:annotation>
                    <xs:appinfo>
                      West Virginia
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WI'>
                  <xs:annotation>
                    <xs:appinfo>
                      Wisconsin
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                  <xs:enumeration value='WY'>
                  <xs:annotation>
                    <xs:appinfo>
                      Wyoming
                    </xs:appinfo>
                  </xs:annotation>
                  </xs:enumeration>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-caa2be1d-3e6c-4cea-b44c-9829d7b23b3f' substitutionGroup='mlhim2:items' type='mlhim2:ct-caa2be1d-3e6c-4cea-b44c-9829d7b23b3f'/>
  <xs:complexType name='ct-caa2be1d-3e6c-4cea-b44c-9829d7b23b3f'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-a20bb4b3-cd37-4179-b8ed-56fb9b930b91'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='ct-a20bb4b3-cd37-4179-b8ed-56fb9b930b91'>
    <xs:annotation>
    <xs:documentation>
      A single line US Street number and name. The typical format is:
123 Main St. 
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-a20bb4b3-cd37-4179-b8ed-56fb9b930b91 : Street Number and Name (US) -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Street Number and Name (US)'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-13354334-0250-4041-8b6c-ac7eefa93c88' substitutionGroup='mlhim2:items' type='mlhim2:ct-13354334-0250-4041-8b6c-ac7eefa93c88'/>
  <xs:complexType name='ct-13354334-0250-4041-8b6c-ac7eefa93c88'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-a332e2c1-6ceb-4719-ab57-0a5d885c23d0'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='ct-a332e2c1-6ceb-4719-ab57-0a5d885c23d0'>
    <xs:annotation>
    <xs:documentation>
      A US telephone number. Exactly 12 characters; 111-111-1111 with a pattern match of "[0-9]{3}-[0-9]{3}-[0-9]{4}" 
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-a332e2c1-6ceb-4719-ab57-0a5d885c23d0 : Telephone Number (US) -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Telephone Number (US)'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string' default='111-111-1111'/>
          </xs:sequence>
          <xs:assert test="matches(string(DvString-dv), '[0-9]{3}-[0-9]{3}-[0-9]{4}')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-c64b7604-6189-412d-bb70-48baba85f366' substitutionGroup='mlhim2:items' type='mlhim2:ct-c64b7604-6189-412d-bb70-48baba85f366'/>
  <xs:complexType name='ct-c64b7604-6189-412d-bb70-48baba85f366'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-548be949-3fd1-4a98-9838-2c02ed8c593d'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name='ct-548be949-3fd1-4a98-9838-2c02ed8c593d'>
    <xs:annotation>
    <xs:documentation>
      Used in address cluster for US Zip (postal) Codes. Minimum of 5 characters with a maximum of 10 characters. Accommodates the older 5 character codes or the Zip+4 with the additional 4 characters following a dash. 

Examples:
12345
12345-0987 
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-548be949-3fd1-4a98-9838-2c02ed8c593d'>
      <rdf:isDefinedBy rdf:resource='https%3A//www.usps.com/'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Zip Code (US)'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' type='xs:string'/>
          </xs:sequence>
          <xs:assert test="matches(mlhim2:DvString-dv, '^\d{5}([\-]?\d{4})?$')"/>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-36bbbb9e-e16a-4d7d-a233-b47aa8693d66'>
    <xs:annotation>
    <xs:documentation>
      Work Address and telephone information.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-36bbbb9e-e16a-4d7d-a233-b47aa8693d66 : Work Address -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='cluster-subject' type='xs:string' fixed='Work Address'/>
      <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-b65ea20c-3768-45cd-a059-004ece61bc89'/><!-- DvString City Name (US) -->
      <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-2bb59f5a-223e-4b8e-b63f-ed8beb62849e'/><!-- DvString State Abbreviation (USPS) -->
      <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-caa2be1d-3e6c-4cea-b44c-9829d7b23b3f'/><!-- DvString Street Number and Name (US) -->
      <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-13354334-0250-4041-8b6c-ac7eefa93c88'/><!-- DvString Telephone Number (US) -->
      <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-c64b7604-6189-412d-bb70-48baba85f366'/><!-- DvString Zip Code (US) -->
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-c63f44cd-c5cd-4ff1-93d0-a2724f4f448e' substitutionGroup='mlhim2:definition ' type='mlhim2:ct-c63f44cd-c5cd-4ff1-93d0-a2724f4f448e'/>
  <xs:element name='el-28856084-574f-488f-88e9-5ed2f1fc9eac' substitutionGroup='mlhim2:entry-links ' type='mlhim2:ct-28856084-574f-488f-88e9-5ed2f1fc9eac'/>
  <xs:element name='el-13df6583-ba82-4799-8531-d35322065f81' substitutionGroup='mlhim2:entry-audit ' type='mlhim2:ct-13df6583-ba82-4799-8531-d35322065f81'/>
  <xs:element name='el-ada87686-6d23-4ff9-9fdf-56ce6abf8a23' substitutionGroup='mlhim2:originating-system-audit ' type='mlhim2:ct-ada87686-6d23-4ff9-9fdf-56ce6abf8a23'/>
  <xs:element name='el-1d1ab245-2ce4-400d-bd50-a04e4eed9512' substitutionGroup='mlhim2:system-id mlhim2:originating-system-ids ' type='mlhim2:ct-1d1ab245-2ce4-400d-bd50-a04e4eed9512'/>
  <xs:element name='el-83fc62c8-8df8-472a-b590-d8ecea82d695' substitutionGroup='mlhim2:provider mlhim2:entry-provider mlhim2:performer mlhim2:committer ' type='mlhim2:ct-83fc62c8-8df8-472a-b590-d8ecea82d695'/>
  <xs:element name='el-4c8a56b0-c452-4b78-a861-1f2a47163693' substitutionGroup='mlhim2:external-ref ' type='mlhim2:ct-4c8a56b0-c452-4b78-a861-1f2a47163693'/>
  <xs:element name='el-33c82fb2-4656-468c-a737-045fa2560b6d' substitutionGroup='mlhim2:location ' type='mlhim2:ct-33c82fb2-4656-468c-a737-045fa2560b6d'/>
  <xs:element name='el-be2bacd2-2992-447a-bafe-1cda72da8033' substitutionGroup='mlhim2:Element-dv ' type='mlhim2:ct-be2bacd2-2992-447a-bafe-1cda72da8033'/>
  <xs:element name='el-ee0b9a9b-797b-40cc-96e5-bc5fdc31b525' substitutionGroup='mlhim2:Element-dv ' type='mlhim2:ct-ee0b9a9b-797b-40cc-96e5-bc5fdc31b525'/>
  <xs:element name='el-83cfaa04-2563-43c0-8411-5a3adc7b12b4' substitutionGroup='mlhim2:subject mlhim2:entry-subject ' type='mlhim2:ct-83cfaa04-2563-43c0-8411-5a3adc7b12b4'/>
  <xs:element name='el-28c06c40-d8aa-4a76-9433-5a5a6920c712' substitutionGroup='mlhim2:feeder-system-audit ' type='mlhim2:ct-28c06c40-d8aa-4a76-9433-5a5a6920c712'/>
  <xs:element name='el-fa8e54f9-f5c4-46c2-86e5-c8e1441b29dd' substitutionGroup='mlhim2:system-id mlhim2:feeder-system-ids ' type='mlhim2:ct-fa8e54f9-f5c4-46c2-86e5-c8e1441b29dd'/>
  <xs:element name='el-f3fb4579-a301-45c0-97ec-75cea528fef8' substitutionGroup='mlhim2:other-participations ' type='mlhim2:ct-f3fb4579-a301-45c0-97ec-75cea528fef8'/>
  <xs:element name='el-e7be0ef7-95ef-4881-8d02-f06e90282f89' substitutionGroup='mlhim2:function ' type='mlhim2:ct-e7be0ef7-95ef-4881-8d02-f06e90282f89'/>
  <xs:element name='el-409b7178-d245-406b-a614-daa8a2a63a0d' substitutionGroup='mlhim2:mode ' type='mlhim2:ct-409b7178-d245-406b-a614-daa8a2a63a0d'/>
  <xs:element name='el-bb90b5b3-cd96-4f91-b1b0-e1a817dad7b7' substitutionGroup='mlhim2:protocol-id ' type='mlhim2:ct-bb90b5b3-cd96-4f91-b1b0-e1a817dad7b7'/>
  <xs:element name='el-3f8593d7-1a37-4a60-8a21-27c4039a9024' substitutionGroup='mlhim2:workflow-id ' type='mlhim2:ct-3f8593d7-1a37-4a60-8a21-27c4039a9024'/>
  <xs:element name='el-b7b86cc2-5d7d-4117-a3f6-625f91586538' substitutionGroup='mlhim2:attestation ' type='mlhim2:ct-b7b86cc2-5d7d-4117-a3f6-625f91586538'/>
  <xs:element name='el-30b1270f-ee0b-49bc-a645-e87a897359e6' substitutionGroup='mlhim2:attested-view ' type='mlhim2:ct-30b1270f-ee0b-49bc-a645-e87a897359e6'/>
  <xs:element name='el-ba3fa7c7-72e7-48ef-a7e1-e85e0a326620' substitutionGroup='mlhim2:proof ' type='mlhim2:ct-ba3fa7c7-72e7-48ef-a7e1-e85e0a326620'/>
  <xs:element name='el-b5e4d968-d3dc-496c-8e86-e07c505aafd8' substitutionGroup='mlhim2:reason ' type='mlhim2:ct-b5e4d968-d3dc-496c-8e86-e07c505aafd8'/>
  <xs:element name='el-9f6798a6-612f-4adf-b821-56dcf149a7ab' substitutionGroup='mlhim2:entry-data ' type='mlhim2:ct-9f6798a6-612f-4adf-b821-56dcf149a7ab'/>
  <xs:element name='el-e3fbe6a3-818b-4472-94aa-d30101e85012' substitutionGroup='mlhim2:items ' type='mlhim2:ct-e3fbe6a3-818b-4472-94aa-d30101e85012'/>
  <xs:element name='el-f68952f0-a2d5-44de-8f60-0ea7c82f4da2' substitutionGroup='mlhim2:Element-dv ' type='mlhim2:ct-f68952f0-a2d5-44de-8f60-0ea7c82f4da2'/>
  <xs:element name='el-c055add9-f332-4ede-9f52-b2488641f2ac' substitutionGroup='mlhim2:Element-dv ' type='mlhim2:ct-c055add9-f332-4ede-9f52-b2488641f2ac'/>
  <xs:element name='el-350a6f2e-f90a-4232-991f-bf863404af27' substitutionGroup='mlhim2:Element-dv ' type='mlhim2:ct-350a6f2e-f90a-4232-991f-bf863404af27'/>
  <xs:element name='el-a20bb4b3-cd37-4179-b8ed-56fb9b930b91' substitutionGroup='mlhim2:Element-dv ' type='mlhim2:ct-a20bb4b3-cd37-4179-b8ed-56fb9b930b91'/>
  <xs:element name='el-a332e2c1-6ceb-4719-ab57-0a5d885c23d0' substitutionGroup='mlhim2:Element-dv ' type='mlhim2:ct-a332e2c1-6ceb-4719-ab57-0a5d885c23d0'/>
  <xs:element name='el-548be949-3fd1-4a98-9838-2c02ed8c593d' substitutionGroup='mlhim2:Element-dv ' type='mlhim2:ct-548be949-3fd1-4a98-9838-2c02ed8c593d'/>
  <xs:element name='el-36bbbb9e-e16a-4d7d-a233-b47aa8693d66' substitutionGroup='mlhim2:items ' type='mlhim2:ct-36bbbb9e-e16a-4d7d-a233-b47aa8693d66'/>

</xs:schema>
