instance-gen/ccd-949a53a0-0bc3-43ce-b900-1ff0b9c6798c.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  xmlns:mlhim2="http://www.mlhim.org/xmlns/mlhim2/2_4_1"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns:dc= "http://purl.org/dc/elements/1.1/"
  elementFormDefault="qualified"
  targetNamespace="http://www.mlhim.org/xmlns/mlhim2/2_4_1"
  xmlns:data-view="http://www.w3.org/2003/g/data-view#"
  data-view:transformation="http://www.mlhim.org/ccd/ccd_md_view.xsl">
  
    <xs:annotation>
        <xs:appinfo>

       <rdf:RDF xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
                xmlns:dc= "http://purl.org/dc/elements/1.1/">

        <rdf:Description rdf:about="http://www.hkcr.net/ccd/ccd-949a53a0-0bc3-43ce-b900-1ff0b9c6798c.xsd">
        <dc:title>Vital Signs</dc:title>
        <dc:creator>&quot;Tim Cook&quot; &lt;tim@mlhim.org&gt;</dc:creator>
        <dc:contributor></dc:contributor>
        <dc:subject>Vital Signs; ccd2data; ccd_file</dc:subject>
        <dc:source>LA-MLHIM</dc:source>
        <dc:rights>CC-BY-SA</dc:rights>
        <dc:relation>None</dc:relation>
        <dc:coverage>Universal</dc:coverage>
        <dc:type>MLHIM Concept Constraint Definition (CCD)</dc:type>
        <dc:identifier>ccd-949a53a0-0bc3-43ce-b900-1ff0b9c6798c</dc:identifier>
        <dc:description>CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
          Should *NOT* be used for real patient data.
          Version: RM 2.4.0
          Datatype: DvStringType
          UOM:
          Format:  Not Defined
          Generated by MLHIM xls2ccd.py
        </dc:description>
        <dc:publisher>MLHIM</dc:publisher>
        <dc:date>2012-10-18</dc:date>
        <dc:format>text/xml</dc:format>
        <dc:language>en-US</dc:language>
        </rdf:Description>
       </rdf:RDF>
     </xs:appinfo>
    </xs:annotation>

    <xs:include schemaLocation="http://www.mlhim.org/xmlns/mlhim2/2_4_1/mlhim2.xsd"/>

    <xs:element name='ccd-949a53a0-0bc3-43ce-b900-1ff0b9c6798c' type="mlhim2:ct-2762b0b5-49ff-47a1-8e52-9cb9c96f9e94"/>

    <xs:complexType name='ct-2762b0b5-49ff-47a1-8e52-9cb9c96f9e94'>
      <xs:complexContent>
        <xs:restriction base="mlhim2:CCDType">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-1ecee894-01a6-4736-bd95-6677bb70cb9e"/>
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-1ecee894-01a6-4736-bd95-6677bb70cb9e' substitutionGroup="mlhim2:definition" type='mlhim2:ct-1ecee894-01a6-4736-bd95-6677bb70cb9e'/>

    <xs:complexType name='ct-1ecee894-01a6-4736-bd95-6677bb70cb9e'>
      <xs:complexContent>
        <xs:restriction base='mlhim2:CareEntryType'>
          <xs:sequence>
            <xs:element maxOccurs='unbounded' minOccurs='0' ref='mlhim2:links'/>
            <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:feeder-audit'/>
            <xs:element maxOccurs='1' minOccurs='1' name='language' type='xs:language' default='en-US'/>
            <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' default='utf-8'/>
            <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-9682f046-fc10-4822-9d20-670b85f667f6'/>
            <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:entry-provider'/>
            <xs:element maxOccurs='unbounded' minOccurs='0' ref='mlhim2:other-participations'/>
            <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:protocol-id'/>
            <xs:element maxOccurs='1' minOccurs='0' name='current-state' type='xs:string'/>
            <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:workflow-id'/>
            <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:attestation'/>
            <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-2ef59764-f757-4f68-8b14-33fbab1cfedb'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
      <xs:element name='el-2ef59764-f757-4f68-8b14-33fbab1cfedb' substitutionGroup='mlhim2:entry-data' type='mlhim2:ct-2ef59764-f757-4f68-8b14-33fbab1cfedb'/>
      <xs:element name='el-9682f046-fc10-4822-9d20-670b85f667f6' substitutionGroup='mlhim2:entry-subject' type='mlhim2:ct-9682f046-fc10-4822-9d20-670b85f667f6'/>


    <xs:complexType name='ct-9682f046-fc10-4822-9d20-670b85f667f6'>
      <xs:complexContent>
        <xs:extension base='mlhim2:PartySelfType'/>
      </xs:complexContent>
    </xs:complexType>


    <xs:complexType name='ct-2ef59764-f757-4f68-8b14-33fbab1cfedb'>
      <xs:complexContent>
        <xs:restriction base='mlhim2:ClusterType'>
          <xs:sequence>
            <xs:element maxOccurs='unbounded' minOccurs='0' ref='mlhim2:links'/>
            <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:feeder-audit'/>
            <xs:element maxOccurs='1' minOccurs='1' name='cluster-subject' type='xs:string' fixed='Care Cluster'/>
            <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-a2bc25db-3111-4cd5-9825-d9c448cdd1a4'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>
    <xs:element name='el-a2bc25db-3111-4cd5-9825-d9c448cdd1a4' substitutionGroup='mlhim2:items' type='mlhim2:ct-a2bc25db-3111-4cd5-9825-d9c448cdd1a4'/>

    <!-- Cluster Items List - Additional ItemType subtypes may be added here.-->
    <xs:complexType name='ct-a2bc25db-3111-4cd5-9825-d9c448cdd1a4'>
      <xs:complexContent>
        <xs:extension base='mlhim2:ItemType'>
          <xs:sequence>
            <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-7562af32-6e33-4a21-ab84-e9067331c464'/>
            <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-228eff64-a79c-4baf-8271-01bd39c8cc8d'/>
            <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-0dd0fd4f-5d60-440a-8f0d-f92c19734b9b'/>
            <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-40c1535c-62f8-4fc7-8585-c34d5784160d'/>
            <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-72caeef6-1f12-41f9-a65c-3e8cc7f05f14'/>
            <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-63359d6f-116f-4170-bc8c-ab2687120430'/>
            <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-bff07af1-0e13-43d0-8c06-ba9b2b83dd32'/>
            <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-3404a9ff-c6e3-47a8-abd9-fd82c0400845'/>
            <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-42a1409a-9e80-4b80-9781-2f04bee48538'/>
            <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-ddd4569c-d689-47a9-bfdf-0659de76d239'/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>
  <xs:element name='el-7562af32-6e33-4a21-ab84-e9067331c464' substitutionGroup='mlhim2:Item' type='mlhim2:ct-7562af32-6e33-4a21-ab84-e9067331c464'/>
  <xs:element name='el-228eff64-a79c-4baf-8271-01bd39c8cc8d' substitutionGroup='mlhim2:Item' type='mlhim2:ct-228eff64-a79c-4baf-8271-01bd39c8cc8d'/>
  <xs:element name='el-0dd0fd4f-5d60-440a-8f0d-f92c19734b9b' substitutionGroup='mlhim2:Item' type='mlhim2:ct-0dd0fd4f-5d60-440a-8f0d-f92c19734b9b'/>
  <xs:element name='el-40c1535c-62f8-4fc7-8585-c34d5784160d' substitutionGroup='mlhim2:Item' type='mlhim2:ct-40c1535c-62f8-4fc7-8585-c34d5784160d'/>
  <xs:element name='el-72caeef6-1f12-41f9-a65c-3e8cc7f05f14' substitutionGroup='mlhim2:Item' type='mlhim2:ct-72caeef6-1f12-41f9-a65c-3e8cc7f05f14'/>
  <xs:element name='el-63359d6f-116f-4170-bc8c-ab2687120430' substitutionGroup='mlhim2:Item' type='mlhim2:ct-63359d6f-116f-4170-bc8c-ab2687120430'/>
  <xs:element name='el-bff07af1-0e13-43d0-8c06-ba9b2b83dd32' substitutionGroup='mlhim2:Item' type='mlhim2:ct-bff07af1-0e13-43d0-8c06-ba9b2b83dd32'/>
  <xs:element name='el-3404a9ff-c6e3-47a8-abd9-fd82c0400845' substitutionGroup='mlhim2:Item' type='mlhim2:ct-3404a9ff-c6e3-47a8-abd9-fd82c0400845'/>
  <xs:element name='el-42a1409a-9e80-4b80-9781-2f04bee48538' substitutionGroup='mlhim2:Item' type='mlhim2:ct-42a1409a-9e80-4b80-9781-2f04bee48538'/>
  <xs:element name='el-ddd4569c-d689-47a9-bfdf-0659de76d239' substitutionGroup='mlhim2:Item' type='mlhim2:ct-ddd4569c-d689-47a9-bfdf-0659de76d239'/>

<!--Diastolic Pressure-->
  <xs:complexType name='ct-ddd4569c-d689-47a9-bfdf-0659de76d239'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-9e091f86-fa5f-4f90-af2d-98046df1cd9c'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-9e091f86-fa5f-4f90-af2d-98046df1cd9c' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-9e091f86-fa5f-4f90-af2d-98046df1cd9c'/>


  <xs:complexType name='ct-9e091f86-fa5f-4f90-af2d-98046df1cd9c'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvQuantityType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Diastolic Pressure'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='1' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:normal-range'/>
          <xs:element maxOccurs='unbounded' minOccurs='0' ref='mlhim2:other-reference-ranges'/>
          <xs:element maxOccurs='1' minOccurs='0' name='normal-status' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='1'  name='magnitude'>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:maxInclusive value="150"/>
                <xs:minInclusive value="30"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='min-magnitude' type='xs:decimal' fixed="30"/>
          <xs:element maxOccurs='1' minOccurs='0' name='max-magnitude' type='xs:decimal' fixed="150"/>
          <xs:element maxOccurs='1' minOccurs='0' name='magnitude-status' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='1' name='error'  type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' name='accuracy' type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-77c990aa-2fdb-4025-9ef2-c624cd024751'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-77c990aa-2fdb-4025-9ef2-c624cd024751' substitutionGroup='mlhim2:DvQuantity-units' type='mlhim2:ct-77c990aa-2fdb-4025-9ef2-c624cd024751'/>



  <xs:complexType name='ct-77c990aa-2fdb-4025-9ef2-c624cd024751'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvCodedStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Diastolic Pressure'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' default="Observable Diastolic Pressure">
            <xs:annotation>
              <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value="Observable Diastolic Pressure"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-abbrev'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value="SNOMED-CT"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-name'>
            <xs:annotation>
              <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value="Systematized Nomenclature of Medicine Clinical Terms"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-version'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value="07/2009"></xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-code'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value="271650006"></xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <!--Systolic Pressure-->
  <xs:complexType name='ct-42a1409a-9e80-4b80-9781-2f04bee48538'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-3ad51caa-b762-42a8-a284-96707d37240b'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-3ad51caa-b762-42a8-a284-96707d37240b' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-3ad51caa-b762-42a8-a284-96707d37240b'/>


  <xs:complexType name='ct-3ad51caa-b762-42a8-a284-96707d37240b'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvQuantityType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Systolic Pressure'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='1' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:normal-range'/>
          <xs:element maxOccurs='unbounded' minOccurs='0' ref='mlhim2:other-reference-ranges'/>
          <xs:element maxOccurs='1' minOccurs='0' name='normal-status' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='1'  name='magnitude'>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:minInclusive value="40"/>
                <xs:maxInclusive value="240"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='min-magnitude' type='xs:decimal' fixed="40"/>
          <xs:element maxOccurs='1' minOccurs='0' name='max-magnitude' type='xs:decimal' fixed="240"/>
          <xs:element maxOccurs='1' minOccurs='0' name='magnitude-status' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='1' name='error'  type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' name='accuracy' type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-5420c69b-c26f-4aae-a133-5f1922351fb6'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-5420c69b-c26f-4aae-a133-5f1922351fb6' substitutionGroup='mlhim2:DvQuantity-units' type='mlhim2:ct-5420c69b-c26f-4aae-a133-5f1922351fb6'/>



  <xs:complexType name='ct-5420c69b-c26f-4aae-a133-5f1922351fb6'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvCodedStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Systolic Pressure'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' default="Observable Systolic Pressure">
            <xs:annotation>
              <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value="Observable Systolic Pressure"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-abbrev'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value="SNOMED-CT"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-name'>
            <xs:annotation>
              <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value="Systematized Nomenclature of Medicine Clinical Terms"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-version'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value="07/2009"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-code'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value="271649006"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>



<!--BP Device Type-->
  <xs:complexType name='ct-3404a9ff-c6e3-47a8-abd9-fd82c0400845'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-7ecfdbba-e863-4417-a41c-a09f035d2a2c'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-7ecfdbba-e863-4417-a41c-a09f035d2a2c' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-7ecfdbba-e863-4417-a41c-a09f035d2a2c'/>


  <xs:complexType name='ct-7ecfdbba-e863-4417-a41c-a09f035d2a2c'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='BP Device Type'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
            <xs:annotation>
              <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Digital'>
                  <xs:annotation>
                    <xs:documentation>
                      Digital
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Manual Analog'>
                  <xs:annotation>
                    <xs:documentation>
                      Manual Analog
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Automatic Analog'>
                  <xs:annotation>
                    <xs:documentation>
                      Automatic Analog
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

<!--Cuff Location-->
  <xs:complexType name='ct-bff07af1-0e13-43d0-8c06-ba9b2b83dd32'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-248f086e-f98c-432c-a38b-e8aa4710b4dc'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-248f086e-f98c-432c-a38b-e8aa4710b4dc' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-248f086e-f98c-432c-a38b-e8aa4710b4dc'/>


  <xs:complexType name='ct-248f086e-f98c-432c-a38b-e8aa4710b4dc'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Cuff Location'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' >
            <xs:annotation>
              <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Upper Arm, Right'>
                  <xs:annotation>
                    <xs:documentation>
                      Upper Arm, Right
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Upper Arm, Left'>
                  <xs:annotation>
                    <xs:documentation>
                      Upper Arm, Left
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Wrist, Right'>
                  <xs:annotation>
                    <xs:documentation>
                      Wrist, Right
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Wrist, Left'>
                  <xs:annotation>
                    <xs:documentation>
                      Wrist, Left
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

<!--Patient Position-->
  <xs:complexType name='ct-63359d6f-116f-4170-bc8c-ab2687120430'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-186315c1-63f0-4880-a384-d850f159b36a'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-186315c1-63f0-4880-a384-d850f159b36a' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-186315c1-63f0-4880-a384-d850f159b36a'/>


  <xs:complexType name='ct-186315c1-63f0-4880-a384-d850f159b36a'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Patient Position'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' >
            <xs:annotation>
              <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Sitting'>
                  <xs:annotation>
                    <xs:documentation>
                      Sitting
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Lying (Prone)'>
                  <xs:annotation>
                    <xs:documentation>
                      Lying (Prone)
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Standing'>
                  <xs:annotation>
                    <xs:documentation>
                      Standing
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

<!--Heart Rate (Pulse)-->
  <xs:complexType name='ct-72caeef6-1f12-41f9-a65c-3e8cc7f05f14'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-02555aa1-5e33-4dc3-9da6-e592839db930'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-02555aa1-5e33-4dc3-9da6-e592839db930' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-02555aa1-5e33-4dc3-9da6-e592839db930'/>


  <xs:complexType name='ct-02555aa1-5e33-4dc3-9da6-e592839db930'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvCountType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Heart Rate (Pulse)'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='1' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-eaadf806-5d99-4da4-8e15-8305dc24d645'/>
          <xs:element maxOccurs='unbounded' minOccurs='0' ref='mlhim2:el-29b0414f-0f7d-4968-8b98-f197fd4990b9'/>
          <xs:element maxOccurs='1' minOccurs='0' name='normal-status' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='1'  name='magnitude'>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:minInclusive value="30"/>
                <xs:maxInclusive value="250"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='min-magnitude' type='xs:decimal' fixed="30"/>
          <xs:element maxOccurs='1' minOccurs='0' name='max-magnitude' type='xs:decimal' fixed="250"/>
          <xs:element maxOccurs='1' minOccurs='0' name='magnitude-status' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='1' name='error'  type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' name='accuracy' type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvCount-units' type='xs:string' fixed='Beats Per Minute'>
            <xs:annotation>
              <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-eaadf806-5d99-4da4-8e15-8305dc24d645' substitutionGroup='mlhim2:normal-range' type='mlhim2:ct-eaadf806-5d99-4da4-8e15-8305dc24d645'/>
  <xs:element name='el-29b0414f-0f7d-4968-8b98-f197fd4990b9' substitutionGroup='mlhim2:other-reference-ranges' type='mlhim2:ct-29b0414f-0f7d-4968-8b98-f197fd4990b9'/>


  <xs:complexType name='ct-eaadf806-5d99-4da4-8e15-8305dc24d645'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ReferenceRangeType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Heart Rate (Pulse)'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='ReferenceRange-definition' type='xs:string' fixed='normal'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-b4a61cd0-5b1c-419b-be1f-b7faf39ae922'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-b4a61cd0-5b1c-419b-be1f-b7faf39ae922' substitutionGroup='mlhim2:data-range' type='mlhim2:ct-b4a61cd0-5b1c-419b-be1f-b7faf39ae922'/>



  <xs:complexType name='ct-b4a61cd0-5b1c-419b-be1f-b7faf39ae922'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvIntervalType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Heart Rate (Pulse)'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='lower' type='xs:int' fixed='30'/>
          <xs:element maxOccurs='1' minOccurs='1'  name='upper' type='xs:int' fixed='250'/>
          <xs:element maxOccurs='1' minOccurs='1' name='lower-included' type='xs:boolean' fixed='1'/>
          <xs:element maxOccurs='1' minOccurs='1' name='upper-included' type='xs:boolean' fixed='1'/>
          <xs:element maxOccurs='1' minOccurs='1' name='lower-unbounded' type='xs:boolean' fixed='0'/>
          <xs:element maxOccurs='1' minOccurs='1' name='upper-unbounded'  type='xs:boolean' fixed='0'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='ct-29b0414f-0f7d-4968-8b98-f197fd4990b9'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ReferenceRangeType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Heart Rate (Pulse)'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='ReferenceRange-definition' type='xs:string' fixed='normal'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-d495e67e-2b11-4798-b220-e2abcaaf5389'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-d495e67e-2b11-4798-b220-e2abcaaf5389' substitutionGroup='mlhim2:data-range' type='mlhim2:ct-d495e67e-2b11-4798-b220-e2abcaaf5389'/>



  <xs:complexType name='ct-d495e67e-2b11-4798-b220-e2abcaaf5389'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvIntervalType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Heart Rate (Pulse)'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='lower' type='xs:int' fixed='30'/>
          <xs:element maxOccurs='1' minOccurs='1'  name='upper' type='xs:int' fixed='250'/>
          <xs:element maxOccurs='1' minOccurs='1' name='lower-included' type='xs:boolean' fixed='1'/>
          <xs:element maxOccurs='1' minOccurs='1' name='upper-included' type='xs:boolean' fixed='1'/>
          <xs:element maxOccurs='1' minOccurs='1' name='lower-unbounded' type='xs:boolean' fixed='0'/>
          <xs:element maxOccurs='1' minOccurs='1' name='upper-unbounded'  type='xs:boolean' fixed='0'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

<!--Body Temperature-->
  <xs:complexType name='ct-40c1535c-62f8-4fc7-8585-c34d5784160d'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-6d79fc4b-e640-4ffb-a9c4-a28a585bba66'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-6d79fc4b-e640-4ffb-a9c4-a28a585bba66' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-6d79fc4b-e640-4ffb-a9c4-a28a585bba66'/>


  <xs:complexType name='ct-6d79fc4b-e640-4ffb-a9c4-a28a585bba66'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvQuantityType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Body Temperature'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='1' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:normal-range'/>
          <xs:element maxOccurs='unbounded' minOccurs='0' ref='mlhim2:other-reference-ranges'/>
          <xs:element maxOccurs='1' minOccurs='0' name='normal-status' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='1'  name='magnitude'>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:maxInclusive value="110"/>
                <xs:minInclusive value="0"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='min-magnitude' type='xs:decimal' fixed="0"/>
          <xs:element maxOccurs='1' minOccurs='0' name='max-magnitude' type='xs:decimal' fixed="110"/>
          <xs:element maxOccurs='1' minOccurs='0' name='magnitude-status' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='1' name='error'  type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' name='accuracy' type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-6c988591-e0fa-4e22-9dfc-fc83d28e9b69'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-6c988591-e0fa-4e22-9dfc-fc83d28e9b69' substitutionGroup='mlhim2:DvQuantity-units' type='mlhim2:ct-6c988591-e0fa-4e22-9dfc-fc83d28e9b69'/>



  <xs:complexType name='ct-6c988591-e0fa-4e22-9dfc-fc83d28e9b69'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvCodedStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Body Temperature'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
            <xs:annotation>
              <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value="C"/>
                <xs:enumeration value="F"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-abbrev'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value="UCUM"/>
                <xs:enumeration value="UCUM"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-name'>
            <xs:annotation>
              <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value="Unified Code for Units of Measure"/>
                <xs:enumeration value="Unified Code for Units of Measure"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-version'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value="1.8.2 Revision: 36299"/>
                <xs:enumeration value="1.8.2 Revision: 36299"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-code'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value="CEL"/>
                <xs:enumeration value="DEGF"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <!--Temperature Location-->
  <xs:complexType name='ct-0dd0fd4f-5d60-440a-8f0d-f92c19734b9b'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-779a5eeb-db86-414f-a7d7-7760e330ce0a'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-779a5eeb-db86-414f-a7d7-7760e330ce0a' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-779a5eeb-db86-414f-a7d7-7760e330ce0a'/>


  <xs:complexType name='ct-779a5eeb-db86-414f-a7d7-7760e330ce0a'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Temperature Location'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' >
            <xs:annotation>
              <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Oral'>
                  <xs:annotation>
                    <xs:documentation>
                      Oral
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Rectal'>
                  <xs:annotation>
                    <xs:documentation>
                      Rectal
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Forehead'>
                  <xs:annotation>
                    <xs:documentation>
                      Forehead
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Underarm, Right'>
                  <xs:annotation>
                    <xs:documentation>
                      Underarm, Right
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Underarm, Left'>
                  <xs:annotation>
                    <xs:documentation>
                      Underarm, Left
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <!--Temperature Device Type-->
  <xs:complexType name='ct-228eff64-a79c-4baf-8271-01bd39c8cc8d'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-b1824a01-ffac-4a51-afff-a8a52dca9ca0'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-b1824a01-ffac-4a51-afff-a8a52dca9ca0' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-b1824a01-ffac-4a51-afff-a8a52dca9ca0'/>


  <xs:complexType name='ct-b1824a01-ffac-4a51-afff-a8a52dca9ca0'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Temperature Device Type'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv' >
            <xs:annotation>
              <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Glass Bulb'>
                  <xs:annotation>
                    <xs:documentation>
                      Glass Bulb
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Surface Tape'>
                  <xs:annotation>
                    <xs:documentation>
                      Surface Tape
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Infrared'>
                  <xs:annotation>
                    <xs:documentation>
                      Infrared
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='Digital Probe'>
                  <xs:annotation>
                    <xs:documentation>
                      Digital Probe
                    </xs:documentation>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

  <!--Respiration-->
  <xs:complexType name='ct-7562af32-6e33-4a21-ab84-e9067331c464'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-b470da9b-5eda-4fe8-a629-d324e248c733'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-b470da9b-5eda-4fe8-a629-d324e248c733' substitutionGroup='mlhim2:Element-dv' type='mlhim2:ct-b470da9b-5eda-4fe8-a629-d324e248c733'/>


  <xs:complexType name='ct-b470da9b-5eda-4fe8-a629-d324e248c733'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvCountType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Respiration'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='1' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-38e0b095-1e6c-454d-a976-b7f34392130e'/>
          <xs:element maxOccurs='unbounded' minOccurs='0' ref='mlhim2:el-8185d214-0f5a-4478-a94c-06d0acf4fdba'/>
          <xs:element maxOccurs='1' minOccurs='0' name='normal-status' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='1'  name='magnitude'>
            <xs:simpleType>
              <xs:restriction base="xs:decimal">
                <xs:minInclusive value="5"/>
                <xs:maxInclusive value="180"/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='0' name='min-magnitude' type='xs:decimal' fixed="5"/>
          <xs:element maxOccurs='1' minOccurs='0' name='max-magnitude' type='xs:decimal' fixed="180"/>
          <xs:element maxOccurs='1' minOccurs='0' name='magnitude-status'>
           <xs:simpleType>
              <xs:restriction base="xs:string">
                <xs:enumeration value="="/>
                <xs:enumeration value="&lt;"/>
                <xs:enumeration value="&gt;"/>
                <xs:enumeration value="&lt;="/>
                <xs:enumeration value="&gt;="/>
                <xs:enumeration value="~"/>
              </xs:restriction>  
            </xs:simpleType>  

          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='error'  type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' name='accuracy' type='xs:int' default='0'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvCount-units' type='xs:string' fixed='Breathes Per Minute'>
            <xs:annotation>
              <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-38e0b095-1e6c-454d-a976-b7f34392130e' substitutionGroup='mlhim2:normal-range' type='mlhim2:ct-38e0b095-1e6c-454d-a976-b7f34392130e'/>
  <xs:element name='el-8185d214-0f5a-4478-a94c-06d0acf4fdba' substitutionGroup='mlhim2:other-reference-ranges' type='mlhim2:ct-8185d214-0f5a-4478-a94c-06d0acf4fdba'/>


  <xs:complexType name='ct-38e0b095-1e6c-454d-a976-b7f34392130e'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ReferenceRangeType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Respiration'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='ReferenceRange-definition' type='xs:string' fixed='normal'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-547a6a39-dfdc-4fe8-a5c1-ac48f57d72cd'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-547a6a39-dfdc-4fe8-a5c1-ac48f57d72cd' substitutionGroup='mlhim2:data-range' type='mlhim2:ct-547a6a39-dfdc-4fe8-a5c1-ac48f57d72cd'/>



  <xs:complexType name='ct-547a6a39-dfdc-4fe8-a5c1-ac48f57d72cd'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvIntervalType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Respiration'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='lower' type='xs:int' fixed='5'/>
          <xs:element maxOccurs='1' minOccurs='1'  name='upper' type='xs:int' fixed='180'/>
          <xs:element maxOccurs='1' minOccurs='1' name='lower-included' type='xs:boolean' fixed='1'/>
          <xs:element maxOccurs='1' minOccurs='1' name='upper-included' type='xs:boolean' fixed='1'/>
          <xs:element maxOccurs='1' minOccurs='1' name='lower-unbounded' type='xs:boolean' fixed='0'/>
          <xs:element maxOccurs='1' minOccurs='1' name='upper-unbounded'  type='xs:boolean' fixed='0'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='ct-8185d214-0f5a-4478-a94c-06d0acf4fdba'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ReferenceRangeType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Respiration'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='ReferenceRange-definition' type='xs:string' fixed='normal'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-f3486a3b-266a-493a-88eb-c49febac3b70'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name='el-f3486a3b-266a-493a-88eb-c49febac3b70' substitutionGroup='mlhim2:data-range' type='mlhim2:ct-f3486a3b-266a-493a-88eb-c49febac3b70'/>



  <xs:complexType name='ct-f3486a3b-266a-493a-88eb-c49febac3b70'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvIntervalType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Respiration'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='lower' type='xs:int' fixed='5'/>
          <xs:element maxOccurs='1' minOccurs='1'  name='upper' type='xs:int' fixed='180'/>
          <xs:element maxOccurs='1' minOccurs='1' name='lower-included' type='xs:boolean' fixed='1'/>
          <xs:element maxOccurs='1' minOccurs='1' name='upper-included' type='xs:boolean' fixed='1'/>
          <xs:element maxOccurs='1' minOccurs='1' name='lower-unbounded' type='xs:boolean' fixed='0'/>
          <xs:element maxOccurs='1' minOccurs='1' name='upper-unbounded'  type='xs:boolean' fixed='0'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>