smw/ccds/ccd-fa706c7a-f08a-4c80-8ce3-8ab7e2699517.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:mlhim2="http://www.mlhim.org/xmlns/mlhim2/2_4_1" xmlns:data-view="http://www.w3.org/2003/g/data-view#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" elementFormDefault="qualified" targetNamespace="http://www.mlhim.org/xmlns/mlhim2/2_4_1" data-view:transformation="http://www.mlhim.org/ccd/ccd_md_view.xsl">
    <xs:annotation>
        <xs:appinfo>
            <rdf:RDF>
                <rdf:Description rdf:about="http://www.hkcr.net/ccd/ccd-fa706c7a-f08a-4c80-8ce3-8ab7e2699517.xsd">
                    <dc:title>Basic Metabolic Panel (BMP)
</dc:title>
                    <dc:creator>"Tim Cook" &lt;tim@mlhim.org&gt;</dc:creator>
                    <dc:contributor/>
                    <dc:subject>Basic Metabolic Panel (BMP); ccd2data; ccd_file</dc:subject>
                    <dc:source>LA-MLHIM</dc:source>
                    <dc:rights>CC-BY-SA</dc:rights>
                    <dc:relation>None</dc:relation>
                    <dc:coverage>Universal</dc:coverage>
                    <dc:type>MLHIM Concept Constraint Definition (CCD)</dc:type>
                    <dc:identifier>ccd-fa706c7a-f08a-4c80-8ce3-8ab7e2699517</dc:identifier>
                    <dc:description>CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
          Version: RM 2.4.0
          Datatype: DvStringType
          UOM: 
          Format:  Not Defined
          Generated by MLHIM xls2ccd.py
        </dc:description>
                    <dc:publisher>MLHIM</dc:publisher>
                    <dc:date>2012-10-18</dc:date>
                    <dc:format>text/xml</dc:format>
                    <dc:language>en-US</dc:language>
                </rdf:Description>
            </rdf:RDF>
        </xs:appinfo>
    </xs:annotation>
    <xs:include schemaLocation="http://www.mlhim.org/xmlns/mlhim2/2_4_1/mlhim2.xsd"/>
    <xs:element name="ccd-fa706c7a-f08a-4c80-8ce3-8ab7e2699517" type="mlhim2:ct-edf9f151-84e7-4207-861c-b5762974d781"/>
    <xs:complexType name="ct-edf9f151-84e7-4207-861c-b5762974d781">
        <xs:complexContent>
            <xs:restriction base="mlhim2:CCDType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-ef7dc8ee-5cf5-47cc-92a5-7143094b88c8"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-ef7dc8ee-5cf5-47cc-92a5-7143094b88c8" substitutionGroup="mlhim2:definition" type="mlhim2:ct-ef7dc8ee-5cf5-47cc-92a5-7143094b88c8"/>
    <xs:complexType name="ct-ef7dc8ee-5cf5-47cc-92a5-7143094b88c8">
        <xs:complexContent>
            <xs:restriction base="mlhim2:CareEntryType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:links"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:feeder-audit"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="language" type="xs:language" default="en-US"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="encoding" type="xs:string" default="utf-8"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-c2c7e652-46f8-498a-99d0-c85005d98f6f"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:entry-provider"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:other-participations"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:protocol-id"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="current-state" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:workflow-id"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:attestation"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-a69717be-7b3f-4be7-9fec-80f8ec1891e8"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-a69717be-7b3f-4be7-9fec-80f8ec1891e8" substitutionGroup="mlhim2:entry-data" type="mlhim2:ct-a69717be-7b3f-4be7-9fec-80f8ec1891e8"/>
    <xs:element name="el-c2c7e652-46f8-498a-99d0-c85005d98f6f" substitutionGroup="mlhim2:entry-subject" type="mlhim2:ct-c2c7e652-46f8-498a-99d0-c85005d98f6f"/>
    <xs:complexType name="ct-c2c7e652-46f8-498a-99d0-c85005d98f6f">
        <xs:complexContent>
            <xs:extension base="mlhim2:PartySelfType"/>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-a69717be-7b3f-4be7-9fec-80f8ec1891e8">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ClusterType">
                <xs:sequence>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:links"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:feeder-audit"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="cluster-subject" type="xs:string" fixed="Care Cluster"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-0c71fe4c-8dd2-4d0f-af05-15b5b7b9de24"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-0c71fe4c-8dd2-4d0f-af05-15b5b7b9de24" substitutionGroup="mlhim2:items" type="mlhim2:ct-0c71fe4c-8dd2-4d0f-af05-15b5b7b9de24"/>

    <!-- Cluster Items List - Additional ItemType subtypes may be added here.-->
    <xs:complexType name="ct-0c71fe4c-8dd2-4d0f-af05-15b5b7b9de24">
        <xs:complexContent>
            <xs:extension base="mlhim2:ItemType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-57449ea7-a165-4bda-a16e-f654d36a7885"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-ccc6596a-d918-4205-b8ac-8885892eac37"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-6245099f-9639-400e-a6a2-e6f305e2e0cd"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-4ca15845-9b70-44fb-bcba-a8fd22cb0a3a"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-fd897186-1ec9-4534-bdca-3be434c93924"/>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-57449ea7-a165-4bda-a16e-f654d36a7885" substitutionGroup="mlhim2:Item" type="mlhim2:ct-57449ea7-a165-4bda-a16e-f654d36a7885"/>
    <xs:element name="el-ccc6596a-d918-4205-b8ac-8885892eac37" substitutionGroup="mlhim2:Item" type="mlhim2:ct-ccc6596a-d918-4205-b8ac-8885892eac37"/>
    <xs:element name="el-6245099f-9639-400e-a6a2-e6f305e2e0cd" substitutionGroup="mlhim2:Item" type="mlhim2:ct-6245099f-9639-400e-a6a2-e6f305e2e0cd"/>
    <xs:element name="el-4ca15845-9b70-44fb-bcba-a8fd22cb0a3a" substitutionGroup="mlhim2:Item" type="mlhim2:ct-4ca15845-9b70-44fb-bcba-a8fd22cb0a3a"/>
    <xs:element name="el-fd897186-1ec9-4534-bdca-3be434c93924" substitutionGroup="mlhim2:Item" type="mlhim2:ct-fd897186-1ec9-4534-bdca-3be434c93924"/>        

<!--Sodium (Na)-->
    <xs:complexType name="ct-fd897186-1ec9-4534-bdca-3be434c93924">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-f6c5ea6e-6458-4799-874d-7f3d365d260d"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-f6c5ea6e-6458-4799-874d-7f3d365d260d" substitutionGroup="mlhim2:Element-dv" type="mlhim2:ct-f6c5ea6e-6458-4799-874d-7f3d365d260d"/>
    <xs:complexType name="ct-f6c5ea6e-6458-4799-874d-7f3d365d260d">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvQuantityType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Sodium (Na)"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:normal-range"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:other-reference-ranges"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="normal-status" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="magnitude">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:maxInclusive value="150"/>
                                <xs:minInclusive value="130"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="min-magnitude" type="xs:decimal" fixed="130"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="max-magnitude" type="xs:decimal" fixed="150"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="error" type="xs:int" default="0"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="accuracy" type="xs:int" default="0"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-3f74aa98-9c88-4d37-851a-31f197aab453"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-3f74aa98-9c88-4d37-851a-31f197aab453" substitutionGroup="mlhim2:DvQuantity-units" type="mlhim2:ct-3f74aa98-9c88-4d37-851a-31f197aab453"/>
    <xs:complexType name="ct-3f74aa98-9c88-4d37-851a-31f197aab453">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvCodedStringType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Sodium (Na)"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvString-dv">
                        <xs:annotation>
                            <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="milliequivalent per liter"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-abbrev">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="UCUM"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-name">
                        <xs:annotation>
                            <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Unified Code for Units of Measure"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-version">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="1.8.2 Revision: 36299"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-code">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="meq/L"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
  

<!--Glucose-->
    <xs:complexType name="ct-4ca15845-9b70-44fb-bcba-a8fd22cb0a3a">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-28f7ec54-254b-4b66-9c42-3b275fc1df38"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-28f7ec54-254b-4b66-9c42-3b275fc1df38" substitutionGroup="mlhim2:Element-dv" type="mlhim2:ct-28f7ec54-254b-4b66-9c42-3b275fc1df38"/>
    <xs:complexType name="ct-28f7ec54-254b-4b66-9c42-3b275fc1df38">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvQuantityType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Glucose"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:normal-range"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:other-reference-ranges"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="normal-status" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="magnitude">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:minInclusive value="50"/>
                                <xs:maxInclusive value="150"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="min-magnitude" type="xs:decimal" fixed="50"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="max-magnitude" type="xs:decimal" fixed="150"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="error" type="xs:int" default="0"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="accuracy" type="xs:int" default="0"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-2cf3eb93-f83a-41cd-807a-da2b6d44c0e4"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-2cf3eb93-f83a-41cd-807a-da2b6d44c0e4" substitutionGroup="mlhim2:DvQuantity-units" type="mlhim2:ct-2cf3eb93-f83a-41cd-807a-da2b6d44c0e4"/>
    <xs:complexType name="ct-2cf3eb93-f83a-41cd-807a-da2b6d44c0e4">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvCodedStringType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Glucose"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvString-dv">
                        <xs:annotation>
                            <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="milligrams per deciliter"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-abbrev">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="UCUM"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-name">
                        <xs:annotation>
                            <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Unified Code for Units of Measure"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-version">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="1.8.2 Revision: 36299"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-code">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="mg/dL"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
  
<!--Potassium (K)-->
    <xs:complexType name="ct-6245099f-9639-400e-a6a2-e6f305e2e0cd">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-781e9dda-055a-4a95-bee3-d482c44d1186"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-781e9dda-055a-4a95-bee3-d482c44d1186" substitutionGroup="mlhim2:Element-dv" type="mlhim2:ct-781e9dda-055a-4a95-bee3-d482c44d1186"/>
    <xs:complexType name="ct-781e9dda-055a-4a95-bee3-d482c44d1186">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvQuantityType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Potassium (K)"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:normal-range"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:other-reference-ranges"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="normal-status" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="magnitude">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:minInclusive value="3.0"/>
                                <xs:maxInclusive value="6.0"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="min-magnitude" type="xs:decimal"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="max-magnitude" type="xs:decimal"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="error" type="xs:int" default="0"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="accuracy" type="xs:int" default="0"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-dc881c59-91f9-4dc0-ac64-f27b38294a70"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-dc881c59-91f9-4dc0-ac64-f27b38294a70" substitutionGroup="mlhim2:DvQuantity-units" type="mlhim2:ct-dc881c59-91f9-4dc0-ac64-f27b38294a70"/>
    <xs:complexType name="ct-dc881c59-91f9-4dc0-ac64-f27b38294a70">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvCodedStringType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Potassium (K)"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvString-dv">
                        <xs:annotation>
                            <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="milliequivalent per liter"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-abbrev">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="UCUM"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-name">
                        <xs:annotation>
                            <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Unified Code for Units of Measure"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-version">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="1.8.2 Revision: 36299"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-code">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="meq/L"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
  
<!--Urea (BUN)-->
    <xs:complexType name="ct-ccc6596a-d918-4205-b8ac-8885892eac37">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-866aa21b-9cd2-48cc-9c18-8e799086d222"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-866aa21b-9cd2-48cc-9c18-8e799086d222" substitutionGroup="mlhim2:Element-dv" type="mlhim2:ct-866aa21b-9cd2-48cc-9c18-8e799086d222"/>
    <xs:complexType name="ct-866aa21b-9cd2-48cc-9c18-8e799086d222">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvQuantityType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Urea (BUN)"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:normal-range"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:other-reference-ranges"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="normal-status" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="magnitude">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:maxInclusive value="22"/>
                                <xs:minInclusive value="5"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="min-magnitude" type="xs:decimal"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="max-magnitude" type="xs:decimal"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="error" type="xs:int" default="0"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="accuracy" type="xs:int" default="0"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-d6060f5c-f666-41a5-97c7-48f065bc7991"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-d6060f5c-f666-41a5-97c7-48f065bc7991" substitutionGroup="mlhim2:DvQuantity-units" type="mlhim2:ct-d6060f5c-f666-41a5-97c7-48f065bc7991"/>
    <xs:complexType name="ct-d6060f5c-f666-41a5-97c7-48f065bc7991">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvCodedStringType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Urea (BUN)"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvString-dv">
                        <xs:annotation>
                            <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="milligrams per deciliter"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-abbrev">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="UCUM"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-name">
                        <xs:annotation>
                            <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Unified Code for Units of Measure"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-version">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="1.8.2 Revision: 36299"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-code">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="mg/dL"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
  
  <!--Creatinine-->
    <xs:complexType name="ct-57449ea7-a165-4bda-a16e-f654d36a7885">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-51b66f95-13b5-4e25-9c08-5e6d43aeba79"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-51b66f95-13b5-4e25-9c08-5e6d43aeba79" substitutionGroup="mlhim2:Element-dv" type="mlhim2:ct-51b66f95-13b5-4e25-9c08-5e6d43aeba79"/>
    <xs:complexType name="ct-51b66f95-13b5-4e25-9c08-5e6d43aeba79">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvQuantityType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Creatinine"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:normal-range"/>
                    <xs:element maxOccurs="unbounded" minOccurs="0" ref="mlhim2:other-reference-ranges"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="normal-status" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="magnitude">
                        <xs:simpleType>
                            <xs:restriction base="xs:decimal">
                                <xs:minInclusive value="0.5"/>
                                <xs:maxInclusive value="1.5"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="0" name="min-magnitude" type="xs:decimal"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="max-magnitude" type="xs:decimal"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="magnitude-status" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="error" type="xs:int" default="0"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="accuracy" type="xs:int" default="0"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-6aeb7189-79f8-4f2c-ab66-c46c6ab9f4de"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-6aeb7189-79f8-4f2c-ab66-c46c6ab9f4de" substitutionGroup="mlhim2:DvQuantity-units" type="mlhim2:ct-6aeb7189-79f8-4f2c-ab66-c46c6ab9f4de"/>
    <xs:complexType name="ct-6aeb7189-79f8-4f2c-ab66-c46c6ab9f4de">
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvCodedStringType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Creatinine"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvString-dv">
                        <xs:annotation>
                            <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="milligrams per deciliter"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-abbrev">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="UCUM"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-name">
                        <xs:annotation>
                            <xs:documentation>
                CCD used by ccd2data to create example instances. Primarily used for testing persistence and querying processes.
              </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Unified Code for Units of Measure"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-version">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="1.8.2 Revision: 36299"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-code">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="mg/dL"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
</xs:schema>