smwdemo/ccdlib/emr/ccd-980b3430-26fb-4bd2-928d-980f205cb134.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type='text/xsl' href='http://hkcr.net/tools/ccd_md_view.xsl'?>
<xs:schema xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#" xmlns:mlhim2="http://www.mlhim.org/xmlns/mlhim2/2_4_2" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" xmlns:owl="http://www.w3.org/2002/07/owl#" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns:sawsdlrdf="http://www.w3.org/ns/sawsdl#" id="mlhim2-ccd-980b3430-26fb-4bd2-928d-980f205cb134" elementFormDefault="qualified" targetNamespace="http://www.mlhim.org/xmlns/mlhim2/2_4_2">

  <!-- METADATA Section -->
    <xs:annotation>
        <xs:appinfo>
            <rdf:RDF>
                <rdf:Description rdf:about="http://www.hkcr.net/ccd/ccd-980b3430-26fb-4bd2-928d-980f205cb134.xsd">
                    <dc:title>Office Visit</dc:title>
                    <dc:creator>Timothy W. Cook tim@mlhim.org</dc:creator>
                    <dc:contributor>None</dc:contributor>
                    <dc:subject>Clinic visit; appointment; charges</dc:subject>
                    <dc:relation>None</dc:relation>
                    <dc:coverage>Universal</dc:coverage>
                    <dc:type>MLHIM Concept Constraint Definition (CCD)</dc:type>
                    <dc:identifier>ccd-980b3430-26fb-4bd2-928d-980f205cb134</dc:identifier>
                    <dc:description>
        Defines various types of office visits and charges.
        This CCD was created by the CCD-Gen application.
      </dc:description>
                    <dc:publisher>Timothy W. Cook</dc:publisher>
                    <dc:date>2013-05-23 23:32:30.137804+00:00</dc:date>
                    <dc:format>text/xml</dc:format>
                    <dc:language>en-us</dc:language>
                </rdf:Description>
            </rdf:RDF>
        </xs:appinfo>
    </xs:annotation>

  <!-- Include the Reference Model -->
    <xs:include schemaLocation="http://www.mlhim.org/xmlns/mlhim2/2_4_2/mlhim2.xsd"/>

  <!-- CCD Root Element -->
    <xs:element name="ccd-980b3430-26fb-4bd2-928d-980f205cb134" type="mlhim2:ct-980b3430-26fb-4bd2-928d-980f205cb134"/>
    <xs:complexType name="ct-980b3430-26fb-4bd2-928d-980f205cb134">
        <xs:complexContent>
            <xs:restriction base="mlhim2:CCDType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-a559a477-fbe8-42c2-a869-1a9b969ea9c9"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>

    <!-- CCD Components Begin Below -->
    <xs:complexType name="ct-a559a477-fbe8-42c2-a869-1a9b969ea9c9">
        <xs:annotation>
            <xs:documentation>
      A generic office visit record.
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-a559a477-fbe8-42c2-a869-1a9b969ea9c9 : Office Visit -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:AdminEntryType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-8f455c5c-122e-426a-bec3-5c716bc0fafa"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-13df6583-ba82-4799-8531-d35322065f81"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="language" type="xs:language" fixed="en-us"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="encoding" type="xs:string" fixed="utf-8"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-83cfaa04-2563-43c0-8411-5a3adc7b12b4"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-83fc62c8-8df8-472a-b590-d8ecea82d695"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-f3fb4579-a301-45c0-97ec-75cea528fef8"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-bb90b5b3-cd96-4f91-b1b0-e1a817dad7b7"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="current-state" type="xs:string" default=""/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-3f8593d7-1a37-4a60-8a21-27c4039a9024"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-b7b86cc2-5d7d-4117-a3f6-625f91586538"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-ae19a12e-b565-4824-b038-36b84b8f1c45"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-8f455c5c-122e-426a-bec3-5c716bc0fafa">
        <xs:annotation>
            <xs:documentation>
       Intended meaning: domain: spatial region or site (immaterial continuant) range: material entity
    </xs:documentation>
            <xs:appinfo>
                <rdf:Description rdf:about="mlhim2:ct-8f455c5c-122e-426a-bec3-5c716bc0fafa">
                    <rdf:isDefinedBy rdf:resource="http%3A//purl.obolibrary.org/obo/RO_0001019"/>
                </rdf:Description>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvURIType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Contains"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvURI-dv" type="xs:anyURI"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="relation" type="xs:string" fixed="contains"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-13df6583-ba82-4799-8531-d35322065f81">
        <xs:annotation>
            <xs:documentation>
      A generic audit.
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-13df6583-ba82-4799-8531-d35322065f81 : Audit -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:FeederAuditType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-ada87686-6d23-4ff9-9fdf-56ce6abf8a23"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-1d1ab245-2ce4-400d-bd50-a04e4eed9512"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-28c06c40-d8aa-4a76-9433-5a5a6920c712"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-fa8e54f9-f5c4-46c2-86e5-c8e1441b29dd"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:original-content"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-ada87686-6d23-4ff9-9fdf-56ce6abf8a23">
        <xs:annotation>
            <xs:documentation>
      Originating System Details
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-ada87686-6d23-4ff9-9fdf-56ce6abf8a23 : Originating System Details -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:FeederAuditDetailsType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-1d1ab245-2ce4-400d-bd50-a04e4eed9512"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-83fc62c8-8df8-472a-b590-d8ecea82d695"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-33c82fb2-4656-468c-a737-045fa2560b6d"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="timestamp" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-83cfaa04-2563-43c0-8411-5a3adc7b12b4"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="version-id" type="xs:string"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-1d1ab245-2ce4-400d-bd50-a04e4eed9512">
        <xs:annotation>
            <xs:documentation>
      Originating System ID
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-1d1ab245-2ce4-400d-bd50-a04e4eed9512 : Originating System ID -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvIdentifierType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Originating System ID"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="DvString-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="id-name">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="System ID">
                                    <xs:annotation>
                                        <xs:appinfo>
                      System ID
                    </xs:appinfo>
                                    </xs:annotation>
                                </xs:enumeration>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="issuer">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Owner"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="assignor">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Owner"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-83fc62c8-8df8-472a-b590-d8ecea82d695">
        <xs:annotation>
            <xs:documentation>
      A generic, reusable PartyIdentified. The details cluster should first be copied and then specifics added to the new details cluster. 
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-83fc62c8-8df8-472a-b590-d8ecea82d695 : Generic PartyIdentified -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:PartyIdentifiedType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="party-name" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-4c8a56b0-c452-4b78-a861-1f2a47163693"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:details"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-4c8a56b0-c452-4b78-a861-1f2a47163693">
        <xs:annotation>
            <xs:documentation>
      A generic URI for use with PartyIdentified to be used as a pointer to a demographic service record.
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-4c8a56b0-c452-4b78-a861-1f2a47163693 : External Reference for PartyIdentified -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvURIType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="External Reference for PartyIdentified"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvURI-dv" type="xs:anyURI"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="relation" type="xs:string" fixed="Party Associated with the record"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-33c82fb2-4656-468c-a737-045fa2560b6d">
        <xs:annotation>
            <xs:documentation>
      System Location for feeder audit. Uses decimal format WGS84 lat/lon coordinates.
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-33c82fb2-4656-468c-a737-045fa2560b6d : System Location (WGS84) -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:ClusterType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="cluster-subject" type="xs:string" fixed="System Location (WGS84)"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-9e3cc8ba-cbf2-402f-b4f8-89c38a7d3e55"/><!-- DvString Latitude (Decimal Format) -->
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-a2633282-5100-4a61-9a5e-b88785c1664c"/><!-- DvString Longitude (Decimal Format) -->
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-9e3cc8ba-cbf2-402f-b4f8-89c38a7d3e55" substitutionGroup="mlhim2:items" type="mlhim2:ct-9e3cc8ba-cbf2-402f-b4f8-89c38a7d3e55"/>
    <xs:complexType name="ct-9e3cc8ba-cbf2-402f-b4f8-89c38a7d3e55">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-be2bacd2-2992-447a-bafe-1cda72da8033"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-be2bacd2-2992-447a-bafe-1cda72da8033">
        <xs:annotation>
            <xs:documentation>
      Matches a latitude in the range of -90 to 90 degrees, with between 1 and 6 trailing decimal places.
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-be2bacd2-2992-447a-bafe-1cda72da8033 : Latitude (Decimal Format) -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvStringType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Latitude (Decimal Format)"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvString-dv" type="xs:string"/>
                </xs:sequence>
                <xs:assert test="matches(mlhim2:DvString-dv, '^-?([1-8]?[0-9]\.{1}\d{1,6}$|90\.{1}0{1,6}$)')"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-a2633282-5100-4a61-9a5e-b88785c1664c" substitutionGroup="mlhim2:items" type="mlhim2:ct-a2633282-5100-4a61-9a5e-b88785c1664c"/>
    <xs:complexType name="ct-a2633282-5100-4a61-9a5e-b88785c1664c">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-ee0b9a9b-797b-40cc-96e5-bc5fdc31b525"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-ee0b9a9b-797b-40cc-96e5-bc5fdc31b525">
        <xs:annotation>
            <xs:documentation>
      Matches a longitude in the range of -180 to 180 degrees, with between 1 and 6 trailing decimal places.
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-ee0b9a9b-797b-40cc-96e5-bc5fdc31b525 : Longitude (Decimal Format) -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvStringType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Longitude (Decimal Format)"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvString-dv" type="xs:string"/>
                </xs:sequence>
                <xs:assert test="matches(mlhim2:DvString-dv, '^-?((([1]?[0-7][0-9]|[1-9]?[0-9])\.{1}\d{1,6}$)|[1]?[1-8][0]\.{1}0{1,6}$)')"/>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-83cfaa04-2563-43c0-8411-5a3adc7b12b4">
        <xs:annotation>
            <xs:documentation>
      A generic PartySelf entry to be used where no other specifics are needed.
    </xs:documentation>
            <xs:appinfo>
                <rdf:Description rdf:about="mlhim2:ct-83cfaa04-2563-43c0-8411-5a3adc7b12b4">
                    <rdf:isDefinedBy rdf:resource="http%3A//www.mlhim.org"/>
                </rdf:Description>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:PartySelfType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="party-name" type="xs:string" fixed="Self"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-28c06c40-d8aa-4a76-9433-5a5a6920c712">
        <xs:annotation>
            <xs:documentation>
      Feeder System Audit
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-28c06c40-d8aa-4a76-9433-5a5a6920c712 : Feeder System Audit -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:FeederAuditDetailsType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-fa8e54f9-f5c4-46c2-86e5-c8e1441b29dd"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-83fc62c8-8df8-472a-b590-d8ecea82d695"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-33c82fb2-4656-468c-a737-045fa2560b6d"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="timestamp" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-83cfaa04-2563-43c0-8411-5a3adc7b12b4"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="version-id" type="xs:string"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-fa8e54f9-f5c4-46c2-86e5-c8e1441b29dd">
        <xs:annotation>
            <xs:documentation>
      A system ID
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-fa8e54f9-f5c4-46c2-86e5-c8e1441b29dd : Feeder System ID -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvIdentifierType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Feeder System ID"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="DvString-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="id-name">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="System ID">
                                    <xs:annotation>
                                        <xs:appinfo>
                      System ID
                    </xs:appinfo>
                                    </xs:annotation>
                                </xs:enumeration>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="issuer">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Owner"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="assignor">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Owner"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-f3fb4579-a301-45c0-97ec-75cea528fef8">
        <xs:annotation>
            <xs:documentation>
      Entry Participation
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-f3fb4579-a301-45c0-97ec-75cea528fef8 : Entry Participation -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:ParticipationType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-83fc62c8-8df8-472a-b590-d8ecea82d695"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-e7be0ef7-95ef-4881-8d02-f06e90282f89"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-409b7178-d245-406b-a614-daa8a2a63a0d"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="start-time" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="end-time" type="xs:dateTime"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-e7be0ef7-95ef-4881-8d02-f06e90282f89">
        <xs:annotation>
            <xs:documentation>
      Participation Function
    </xs:documentation>
            <xs:appinfo>
                <rdf:Description rdf:about="mlhim2:ct-e7be0ef7-95ef-4881-8d02-f06e90282f89">
                    <rdf:isDefinedBy rdf:resource="http%3A//xmlns.com/foaf/spec/%23glance"/>
                </rdf:Description>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvCodedStringType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Participation Function"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvString-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Agent"/>
                                <xs:enumeration value="Group"/>
                                <xs:enumeration value="Organization"/>
                                <xs:enumeration value="Person"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-abbrev">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="FOAF"/>
                                <xs:enumeration value="FOAF"/>
                                <xs:enumeration value="FOAF"/>
                                <xs:enumeration value="FOAF"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-name">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Friend Of A Friend"/>
                                <xs:enumeration value="Friend Of A Friend"/>
                                <xs:enumeration value="Friend Of A Friend"/>
                                <xs:enumeration value="Friend Of A Friend"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-version">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="0.98"/>
                                <xs:enumeration value="0.98"/>
                                <xs:enumeration value="0.98"/>
                                <xs:enumeration value="0.98"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-code">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Agent">
                                    <xs:annotation>
                                        <xs:appinfo>
                      Agent
                    </xs:appinfo>
                                    </xs:annotation>
                                </xs:enumeration>
                                <xs:enumeration value="Group">
                                    <xs:annotation>
                                        <xs:appinfo>
                      Group
                    </xs:appinfo>
                                    </xs:annotation>
                                </xs:enumeration>
                                <xs:enumeration value="Organization">
                                    <xs:annotation>
                                        <xs:appinfo>
                      Organization
                    </xs:appinfo>
                                    </xs:annotation>
                                </xs:enumeration>
                                <xs:enumeration value="Person">
                                    <xs:annotation>
                                        <xs:appinfo>
                      Person
                    </xs:appinfo>
                                    </xs:annotation>
                                </xs:enumeration>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-409b7178-d245-406b-a614-daa8a2a63a0d">
        <xs:annotation>
            <xs:documentation>
      A generic definition that the participation mode is some type of agent. 
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-409b7178-d245-406b-a614-daa8a2a63a0d : Participation Mode -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvCodedStringType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Participation Mode"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvString-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Agent"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-abbrev">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="FOAF"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-name">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Friend Of A Friend"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-version">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="0.98"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-code">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Agent">
                                    <xs:annotation>
                                        <xs:appinfo>
                      Agent
                    </xs:appinfo>
                                    </xs:annotation>
                                </xs:enumeration>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-bb90b5b3-cd96-4f91-b1b0-e1a817dad7b7">
        <xs:annotation>
            <xs:documentation>
      A generic Protocol ID
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-bb90b5b3-cd96-4f91-b1b0-e1a817dad7b7 : Protocol ID -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvIdentifierType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Protocol ID"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="DvString-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:string"/>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="id-name">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Identifier">
                                    <xs:annotation>
                                        <xs:appinfo>
                      Identifier
                    </xs:appinfo>
                                    </xs:annotation>
                                </xs:enumeration>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="issuer">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Definer"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="assignor">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Definer"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-3f8593d7-1a37-4a60-8a21-27c4039a9024">
        <xs:annotation>
            <xs:documentation>
      The link points to the workflow definition
    </xs:documentation>
            <xs:appinfo>
                <rdf:Description rdf:about="mlhim2:ct-3f8593d7-1a37-4a60-8a21-27c4039a9024">
                    <rdf:isDefinedBy rdf:resource="http%3A//purl.obolibrary.org/obo/IAO_0000178"/>
                </rdf:Description>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvURIType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Workflow ID"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvURI-dv" type="xs:anyURI"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="relation" type="xs:string" fixed="material information bearer"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-b7b86cc2-5d7d-4117-a3f6-625f91586538">
        <xs:annotation>
            <xs:documentation>
      A generic attestation. 
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-b7b86cc2-5d7d-4117-a3f6-625f91586538 : Attestation -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:AttestationType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-30b1270f-ee0b-49bc-a645-e87a897359e6"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-ba3fa7c7-72e7-48ef-a7e1-e85e0a326620"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-b5e4d968-d3dc-496c-8e86-e07c505aafd8"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:el-83fc62c8-8df8-472a-b590-d8ecea82d695"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="time-committed" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" default="true" name="is-pending" type="xs:boolean"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-30b1270f-ee0b-49bc-a645-e87a897359e6">
        <xs:annotation>
            <xs:documentation>
      A generic container for an attestation view.
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-30b1270f-ee0b-49bc-a645-e87a897359e6 : Attestation View -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvMediaType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Attestation View"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="size" type="xs:int"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="encoding" type="xs:string" default="utf-8"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language" default="en-us"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="mime-type" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="compression-type" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="hash-result" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="hash-function" type="xs:string" default=""/>
                    <xs:element maxOccurs="1" minOccurs="0" name="alt-txt" type="xs:string" default=""/>
                    <xs:element maxOccurs="1" minOccurs="0" name="uri" type="xs:anyURI"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="media-content" type="xs:base64Binary"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-ba3fa7c7-72e7-48ef-a7e1-e85e0a326620">
        <xs:annotation>
            <xs:documentation>
      A generic container for an attestation proof document.
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-ba3fa7c7-72e7-48ef-a7e1-e85e0a326620 : Proof -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvParsableType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Proof"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="size" type="xs:int"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="encoding" type="xs:string" default="utf-8"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="language" type="xs:language" default="en-us"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="DvParsable-dv" type="xs:string"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="formalism" type="xs:string"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-b5e4d968-d3dc-496c-8e86-e07c505aafd8">
        <xs:annotation>
            <xs:documentation>
      A finalized release of some information entity.
    </xs:documentation>
            <xs:appinfo>
                <rdf:Description rdf:about="mlhim2:ct-b5e4d968-d3dc-496c-8e86-e07c505aafd8">
                    <rdf:isDefinedBy rdf:resource="http%3A//usefulinc.com/ns/doap%2523release"/>
                </rdf:Description>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvCodedStringType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Attestation Reason"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvString-dv">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="release"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-abbrev">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="DOAP"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-name">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="Description of a Project"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-version">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="0.1"/>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                    <xs:element maxOccurs="1" minOccurs="1" name="terminology-code">
                        <xs:simpleType>
                            <xs:restriction base="xs:string">
                                <xs:enumeration value="release">
                                    <xs:annotation>
                                        <xs:appinfo>
                      release
                    </xs:appinfo>
                                    </xs:annotation>
                                </xs:enumeration>
                            </xs:restriction>
                        </xs:simpleType>
                    </xs:element>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-ae19a12e-b565-4824-b038-36b84b8f1c45">
        <xs:annotation>
            <xs:documentation>
      An administrative entry to record an office visit.  Possibly used in billing.
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-ae19a12e-b565-4824-b038-36b84b8f1c45 : Office Visit -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:ClusterType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="cluster-subject" type="xs:string" fixed="Office Visit"/>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-3a3396c5-a27f-4440-89f3-5ffd326dde57"/><!-- DvURI Connected To -->
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-c682fe22-3300-4fc2-8024-d4898d1939bc"/><!-- DvString Visit Purpose -->
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-25392f26-f916-4641-b011-72ed2f3322bd"/><!-- DvTemporal Visit Datetime -->
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-9e1c902b-89a7-4cbe-8acf-ee02c18b48ea"/><!-- DvTemporal Visit Duration -->
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-3a3396c5-a27f-4440-89f3-5ffd326dde57" substitutionGroup="mlhim2:items" type="mlhim2:ct-3a3396c5-a27f-4440-89f3-5ffd326dde57"/>
    <xs:complexType name="ct-3a3396c5-a27f-4440-89f3-5ffd326dde57">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-28856084-574f-488f-88e9-5ed2f1fc9eac"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-28856084-574f-488f-88e9-5ed2f1fc9eac">
        <xs:annotation>
            <xs:documentation>
       X connected_to Y if and only if X and Y share a fiat boundary.
    </xs:documentation>
            <xs:appinfo>
                <rdf:Description rdf:about="mlhim2:ct-28856084-574f-488f-88e9-5ed2f1fc9eac">
                    <rdf:isDefinedBy rdf:resource="http%3A//purl.obolibrary.org/obo/RO_0002150"/>
                </rdf:Description>
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvURIType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Connected To"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvURI-dv" type="xs:anyURI"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="relation" type="xs:string" fixed="connected to"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-c682fe22-3300-4fc2-8024-d4898d1939bc" substitutionGroup="mlhim2:items" type="mlhim2:ct-c682fe22-3300-4fc2-8024-d4898d1939bc"/>
    <xs:complexType name="ct-c682fe22-3300-4fc2-8024-d4898d1939bc">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-609e8b5c-9695-46fd-abf3-baeb2c0b0d9d"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-609e8b5c-9695-46fd-abf3-baeb2c0b0d9d">
        <xs:annotation>
            <xs:documentation>
      A description of the purpose of the visit.
    </xs:documentation>
            <xs:appinfo>
    <!--No valid semantic links for  ct-609e8b5c-9695-46fd-abf3-baeb2c0b0d9d : Visit Purpose -->
            </xs:appinfo>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvStringType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Visit Purpose"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="1" name="DvString-dv" type="xs:string"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-25392f26-f916-4641-b011-72ed2f3322bd" substitutionGroup="mlhim2:items" type="mlhim2:ct-25392f26-f916-4641-b011-72ed2f3322bd"/>
    <xs:complexType name="ct-25392f26-f916-4641-b011-72ed2f3322bd">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-b89481c7-e93a-48ac-8c60-7e9a7f71060c"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-b89481c7-e93a-48ac-8c60-7e9a7f71060c">
        <xs:annotation>
            <xs:documentation>
      A proper datetime that marks the beginning of an office visit.
      </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvTemporalType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Visit Datetime"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:reference-ranges"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="normal-status" type="xs:string" default=""/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-date" type="xs:date"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-time" type="xs:time"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="dvtemporal-datetime" type="xs:dateTime"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-day" type="xs:gDay"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-month" type="xs:gMonth"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-year" type="xs:gYear"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-year-month" type="xs:gYearMonth"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-month-day" type="xs:gMonthDay"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-duration" type="xs:duration"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-ymduration" type="xs:yearMonthDuration"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-dtduration" type="xs:dayTimeDuration"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-9e1c902b-89a7-4cbe-8acf-ee02c18b48ea" substitutionGroup="mlhim2:items" type="mlhim2:ct-9e1c902b-89a7-4cbe-8acf-ee02c18b48ea"/>
    <xs:complexType name="ct-9e1c902b-89a7-4cbe-8acf-ee02c18b48ea">
        <xs:complexContent>
            <xs:restriction base="mlhim2:ElementType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" ref="mlhim2:el-816ee777-f5d4-43f4-b65d-4ebe57b70d35"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ct-816ee777-f5d4-43f4-b65d-4ebe57b70d35">
        <xs:annotation>
            <xs:documentation>
      A duration of the office visit.
      </xs:documentation>
        </xs:annotation>
        <xs:complexContent>
            <xs:restriction base="mlhim2:DvTemporalType">
                <xs:sequence>
                    <xs:element maxOccurs="1" minOccurs="1" name="data-name" type="xs:string" fixed="Visit Duration"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:ExceptionalValue"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-begin" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="valid-time-end" type="xs:dateTime"/>
                    <xs:element maxOccurs="1" minOccurs="0" ref="mlhim2:reference-ranges"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="normal-status" type="xs:string" default=""/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-date" type="xs:date"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-time" type="xs:time"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-datetime" type="xs:dateTime"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-day" type="xs:gDay"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-month" type="xs:gMonth"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-year" type="xs:gYear"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-year-month" type="xs:gYearMonth"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-month-day" type="xs:gMonthDay"/>
                    <xs:element maxOccurs="1" minOccurs="0" name="dvtemporal-duration" type="xs:duration"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-ymduration" type="xs:yearMonthDuration"/>
                    <xs:element maxOccurs="0" minOccurs="0" name="dvtemporal-dtduration" type="xs:dayTimeDuration"/>
                </xs:sequence>
            </xs:restriction>
        </xs:complexContent>
    </xs:complexType>
    <xs:element name="el-a559a477-fbe8-42c2-a869-1a9b969ea9c9" substitutionGroup="mlhim2:definition " type="mlhim2:ct-a559a477-fbe8-42c2-a869-1a9b969ea9c9"/>
    <xs:element name="el-8f455c5c-122e-426a-bec3-5c716bc0fafa" substitutionGroup="mlhim2:entry-links " type="mlhim2:ct-8f455c5c-122e-426a-bec3-5c716bc0fafa"/>
    <xs:element name="el-13df6583-ba82-4799-8531-d35322065f81" substitutionGroup="mlhim2:entry-audit " type="mlhim2:ct-13df6583-ba82-4799-8531-d35322065f81"/>
    <xs:element name="el-ada87686-6d23-4ff9-9fdf-56ce6abf8a23" substitutionGroup="mlhim2:originating-system-audit " type="mlhim2:ct-ada87686-6d23-4ff9-9fdf-56ce6abf8a23"/>
    <xs:element name="el-1d1ab245-2ce4-400d-bd50-a04e4eed9512" substitutionGroup="mlhim2:system-id mlhim2:originating-system-ids " type="mlhim2:ct-1d1ab245-2ce4-400d-bd50-a04e4eed9512"/>
    <xs:element name="el-83fc62c8-8df8-472a-b590-d8ecea82d695" substitutionGroup="mlhim2:provider mlhim2:entry-provider mlhim2:performer mlhim2:committer " type="mlhim2:ct-83fc62c8-8df8-472a-b590-d8ecea82d695"/>
    <xs:element name="el-4c8a56b0-c452-4b78-a861-1f2a47163693" substitutionGroup="mlhim2:external-ref " type="mlhim2:ct-4c8a56b0-c452-4b78-a861-1f2a47163693"/>
    <xs:element name="el-33c82fb2-4656-468c-a737-045fa2560b6d" substitutionGroup="mlhim2:location " type="mlhim2:ct-33c82fb2-4656-468c-a737-045fa2560b6d"/>
    <xs:element name="el-be2bacd2-2992-447a-bafe-1cda72da8033" substitutionGroup="mlhim2:Element-dv " type="mlhim2:ct-be2bacd2-2992-447a-bafe-1cda72da8033"/>
    <xs:element name="el-ee0b9a9b-797b-40cc-96e5-bc5fdc31b525" substitutionGroup="mlhim2:Element-dv " type="mlhim2:ct-ee0b9a9b-797b-40cc-96e5-bc5fdc31b525"/>
    <xs:element name="el-83cfaa04-2563-43c0-8411-5a3adc7b12b4" substitutionGroup="mlhim2:subject mlhim2:entry-subject " type="mlhim2:ct-83cfaa04-2563-43c0-8411-5a3adc7b12b4"/>
    <xs:element name="el-28c06c40-d8aa-4a76-9433-5a5a6920c712" substitutionGroup="mlhim2:feeder-system-audit " type="mlhim2:ct-28c06c40-d8aa-4a76-9433-5a5a6920c712"/>
    <xs:element name="el-fa8e54f9-f5c4-46c2-86e5-c8e1441b29dd" substitutionGroup="mlhim2:system-id mlhim2:feeder-system-ids " type="mlhim2:ct-fa8e54f9-f5c4-46c2-86e5-c8e1441b29dd"/>
    <xs:element name="el-f3fb4579-a301-45c0-97ec-75cea528fef8" substitutionGroup="mlhim2:other-participations " type="mlhim2:ct-f3fb4579-a301-45c0-97ec-75cea528fef8"/>
    <xs:element name="el-e7be0ef7-95ef-4881-8d02-f06e90282f89" substitutionGroup="mlhim2:function " type="mlhim2:ct-e7be0ef7-95ef-4881-8d02-f06e90282f89"/>
    <xs:element name="el-409b7178-d245-406b-a614-daa8a2a63a0d" substitutionGroup="mlhim2:mode " type="mlhim2:ct-409b7178-d245-406b-a614-daa8a2a63a0d"/>
    <xs:element name="el-bb90b5b3-cd96-4f91-b1b0-e1a817dad7b7" substitutionGroup="mlhim2:protocol-id " type="mlhim2:ct-bb90b5b3-cd96-4f91-b1b0-e1a817dad7b7"/>
    <xs:element name="el-3f8593d7-1a37-4a60-8a21-27c4039a9024" substitutionGroup="mlhim2:workflow-id " type="mlhim2:ct-3f8593d7-1a37-4a60-8a21-27c4039a9024"/>
    <xs:element name="el-b7b86cc2-5d7d-4117-a3f6-625f91586538" substitutionGroup="mlhim2:attestation " type="mlhim2:ct-b7b86cc2-5d7d-4117-a3f6-625f91586538"/>
    <xs:element name="el-30b1270f-ee0b-49bc-a645-e87a897359e6" substitutionGroup="mlhim2:attested-view " type="mlhim2:ct-30b1270f-ee0b-49bc-a645-e87a897359e6"/>
    <xs:element name="el-ba3fa7c7-72e7-48ef-a7e1-e85e0a326620" substitutionGroup="mlhim2:proof " type="mlhim2:ct-ba3fa7c7-72e7-48ef-a7e1-e85e0a326620"/>
    <xs:element name="el-b5e4d968-d3dc-496c-8e86-e07c505aafd8" substitutionGroup="mlhim2:reason " type="mlhim2:ct-b5e4d968-d3dc-496c-8e86-e07c505aafd8"/>
    <xs:element name="el-ae19a12e-b565-4824-b038-36b84b8f1c45" substitutionGroup="mlhim2:entry-data " type="mlhim2:ct-ae19a12e-b565-4824-b038-36b84b8f1c45"/>
    <xs:element name="el-28856084-574f-488f-88e9-5ed2f1fc9eac" substitutionGroup="mlhim2:Element-dv " type="mlhim2:ct-28856084-574f-488f-88e9-5ed2f1fc9eac"/>
    <xs:element name="el-609e8b5c-9695-46fd-abf3-baeb2c0b0d9d" substitutionGroup="mlhim2:Element-dv " type="mlhim2:ct-609e8b5c-9695-46fd-abf3-baeb2c0b0d9d"/>
    <xs:element name="el-b89481c7-e93a-48ac-8c60-7e9a7f71060c" substitutionGroup="mlhim2:Element-dv " type="mlhim2:ct-b89481c7-e93a-48ac-8c60-7e9a7f71060c"/>
    <xs:element name="el-816ee777-f5d4-43f4-b65d-4ebe57b70d35" substitutionGroup="mlhim2:Element-dv " type="mlhim2:ct-816ee777-f5d4-43f4-b65d-4ebe57b70d35"/>
</xs:schema>