Suspected_case_of_infectious_disease/ccd-208cd2fd-8c68-48d4-87bd-3684ffabd709.xsd

<?xml version='1.0' encoding='UTF-8'?>
<?xml-stylesheet type='text/xsl' href='http://hkcr.net/tools/ccd_md_view.xsl'?>
<xs:schema  xmlns:xs='http://www.w3.org/2001/XMLSchema'
  xmlns:mlhim2='http://www.mlhim.org/xmlns/mlhim2/2_4_2'
  xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns#'
  xmlns:owl='http://www.w3.org/2002/07/owl#'
  xmlns:dc='http://purl.org/dc/elements/1.1/'
  xmlns:sawsdl='http://www.w3.org/ns/sawsdl'
  xmlns:sawsdlrdf='http://www.w3.org/ns/sawsdl#'
  xmlns:rdfs='http://www.w3.org/2000/01/rdf-schema#'
  id='mlhim2-ccd-208cd2fd-8c68-48d4-87bd-3684ffabd709'
  elementFormDefault='qualified'
  targetNamespace='http://www.mlhim.org/xmlns/mlhim2/2_4_2'
>

  <!-- METADATA Section -->
  <xs:annotation>
    <xs:appinfo>
    <rdf:RDF>
    <rdf:Description rdf:about='http://www.hkcr.net/ccd/ccd-208cd2fd-8c68-48d4-87bd-3684ffabd709.xsd'>
      <dc:title>Suspected case of infectious disease</dc:title>
      <dc:creator>Luciana Tricai Cavalini lutricav@mlhim.org</dc:creator>
      <dc:contributor>Timothy W. Cook tim@mlhim.org</dc:contributor>
      <dc:subject>Communicable Diseases; International Classification of Diseases</dc:subject>
      <dc:relation>None</dc:relation>
      <dc:coverage>Universal</dc:coverage>
      <dc:type>MLHIM Concept Constraint Definition (CCD)</dc:type>
      <dc:identifier>ccd-208cd2fd-8c68-48d4-87bd-3684ffabd709</dc:identifier>
      <dc:description>
        Suspected case of infectious disease ICD-10 codes.
        This CCD was created by the CCD-Gen application.
      </dc:description>
      <dc:publisher>Multilevel Healthcare Information Modeling (MLHIM) Laboratory</dc:publisher>
      <dc:date>2013-05-26 21:20:18.711186+00:00</dc:date>
      <dc:format>text/xml</dc:format>
      <dc:language>en-us</dc:language>
    </rdf:Description>
    </rdf:RDF>
    </xs:appinfo>
  </xs:annotation>

  <!-- Include the Reference Model -->
  <xs:include schemaLocation='http://www.mlhim.org/xmlns/mlhim2/2_4_2/mlhim2.xsd'/>

  <!-- CCD Root Element -->
  <xs:element name='ccd-208cd2fd-8c68-48d4-87bd-3684ffabd709' type='mlhim2:ct-208cd2fd-8c68-48d4-87bd-3684ffabd709'/>
  <xs:complexType name='ct-208cd2fd-8c68-48d4-87bd-3684ffabd709'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:CCDType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-c2ff031f-bcf9-4c09-9bf1-c4a731006c74'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>

    <!-- CCD Components Begin Below -->

  <xs:complexType name='ct-c2ff031f-bcf9-4c09-9bf1-c4a731006c74'>
    <xs:annotation>
    <xs:documentation>
      Suspected case of infectious disease ICD-10 codes.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-c2ff031f-bcf9-4c09-9bf1-c4a731006c74'>
    <rdf:isDefinedBy rdf:resource='http%3A//apps.who.int/classifications/icd10/browse/2010/en%23/I'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:CareEntryType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:entry-links'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:entry-audit'/>
          <xs:element maxOccurs='1' minOccurs='1' name='language' type='xs:language' fixed='en-us'/>
          <xs:element maxOccurs='1' minOccurs='1' name='encoding' type='xs:string' fixed='utf-8'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-83cfaa04-2563-43c0-8411-5a3adc7b12b4'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-83fc62c8-8df8-472a-b590-d8ecea82d695'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:other-participations'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:protocol-id'/>
          <xs:element maxOccurs='1' minOccurs='0' name='current-state' type='xs:string' default=''/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:workflow-id'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:attestation'/>
          <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-e0787d17-cc12-4383-ac3d-05bd9de42989'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-83cfaa04-2563-43c0-8411-5a3adc7b12b4'>
    <xs:annotation>
    <xs:documentation>
      A generic PartySelf entry to be used where no other specifics are needed.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-83cfaa04-2563-43c0-8411-5a3adc7b12b4'>
    <rdf:isDefinedBy rdf:resource='http%3A//www.mlhim.org'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartySelfType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='party-name' type='xs:string' fixed='Self'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-83fc62c8-8df8-472a-b590-d8ecea82d695'>
    <xs:annotation>
    <xs:documentation>
      A generic, reusable PartyIdentified. The details cluster should first be copied and then specifics added to the new details cluster. 
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-83fc62c8-8df8-472a-b590-d8ecea82d695 : Generic PartyIdentified -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:PartyIdentifiedType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='party-name' type='xs:string'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:el-4c8a56b0-c452-4b78-a861-1f2a47163693'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:details'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-4c8a56b0-c452-4b78-a861-1f2a47163693'>
    <xs:annotation>
    <xs:documentation>
      A generic URI for use with PartyIdentified to be used as a pointer to a demographic service record.
    </xs:documentation>
    <xs:appinfo>
    <!--No valid semantic links for  ct-4c8a56b0-c452-4b78-a861-1f2a47163693 : External Reference for PartyIdentified -->
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvURIType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='External Reference for PartyIdentified'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvURI-dv' type='xs:anyURI'/>
          <xs:element maxOccurs='1' minOccurs='1' name='relation' type='xs:string' fixed='Party Associated with the record'/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>



  <xs:complexType name='ct-e0787d17-cc12-4383-ac3d-05bd9de42989'>
    <xs:annotation>
    <xs:documentation>
      Suspected case of infectious disease cluster for selected ICD-10 Chapter I codes.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-e0787d17-cc12-4383-ac3d-05bd9de42989'>
    <rdf:isDefinedBy rdf:resource='http%3A//apps.who.int/classifications/icd10/browse/2010/en%23/I'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ClusterType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='cluster-subject' type='xs:string' fixed='Suspected case of infectious disease'/>
      <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-d6bcbf57-0cef-43cc-9ae9-39629a011c02'/><!-- DvCodedString Intestinal Infectious Diseases -->
      <xs:element maxOccurs='1' minOccurs='1' ref='mlhim2:el-8111d7f0-419c-475a-80dc-8da5e1bdc187'/><!-- DvCodedString Tuberculosis -->
        </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-d6bcbf57-0cef-43cc-9ae9-39629a011c02' substitutionGroup='mlhim2:items' type='mlhim2:ct-d6bcbf57-0cef-43cc-9ae9-39629a011c02'/>
  <xs:complexType name='ct-d6bcbf57-0cef-43cc-9ae9-39629a011c02'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-fb37b1ab-1577-4537-881a-c19c2994aa50'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='ct-fb37b1ab-1577-4537-881a-c19c2994aa50'>
    <xs:annotation>
    <xs:documentation>
      3-digit Intestinal Infactious Diseases Codes. ICD-10.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-fb37b1ab-1577-4537-881a-c19c2994aa50'>
      <rdf:isDefinedBy rdf:resource='http%3A//apps.who.int/classifications/icd10/browse/2010/en%23/A00-A09'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvCodedStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Intestinal Infectious Diseases'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='Amoebiasis'/>
                <xs:enumeration value='Cholera'/>
                <xs:enumeration value='Other bacterial foodborne intoxications, not elsewhere classified'/>
                <xs:enumeration value='Other bacterial intestinal infections'/>
                <xs:enumeration value='Other gastroenteritis and colitis of infectious and unspecified origin'/>
                <xs:enumeration value=' Other protozoal intestinal diseases'/>
                <xs:enumeration value=' Other salmonella infections'/>
                <xs:enumeration value='Shigellosis'/>
                <xs:enumeration value='Typhoid and paratyphoid fevers'/>
                <xs:enumeration value=' Viral and other specified intestinal infections'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-abbrev'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='ICD-10'/>
                <xs:enumeration value='ICD-10'/>
                <xs:enumeration value='ICD-10'/>
                <xs:enumeration value='ICD-10'/>
                <xs:enumeration value='ICD-10'/>
                <xs:enumeration value='ICD-10'/>
                <xs:enumeration value='ICD-10'/>
                <xs:enumeration value='ICD-10'/>
                <xs:enumeration value='ICD-10'/>
                <xs:enumeration value='ICD-10'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-name'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='International Classification of Diseases - 10th Revision'/>
                <xs:enumeration value='International Classification of Diseases - 10th Revision'/>
                <xs:enumeration value='International Classification of Diseases - 10th Revision'/>
                <xs:enumeration value='International Classification of Diseases - 10th Revision'/>
                <xs:enumeration value='International Classification of Diseases - 10th Revision'/>
                <xs:enumeration value='International Classification of Diseases - 10th Revision'/>
                <xs:enumeration value='International Classification of Diseases - 10th Revision'/>
                <xs:enumeration value='International Classification of Diseases - 10th Revision'/>
                <xs:enumeration value='International Classification of Diseases - 10th Revision'/>
                <xs:enumeration value='International Classification of Diseases - 10th Revision'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-version'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='2010'/>
                <xs:enumeration value='2010'/>
                <xs:enumeration value='2010'/>
                <xs:enumeration value='2010'/>
                <xs:enumeration value='2010'/>
                <xs:enumeration value='2010'/>
                <xs:enumeration value='2010'/>
                <xs:enumeration value='2010'/>
                <xs:enumeration value='2010'/>
                <xs:enumeration value='2010'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-code'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='A06'>
                  <xs:annotation>
                    <xs:appinfo>
                      Amoebiasis
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='A00'>
                  <xs:annotation>
                    <xs:appinfo>
                      Cholera
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='A05'>
                  <xs:annotation>
                    <xs:appinfo>
                      Other bacterial foodborne intoxications, not elsewhere classified
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='A04'>
                  <xs:annotation>
                    <xs:appinfo>
                      Other bacterial intestinal infections
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='A09'>
                  <xs:annotation>
                    <xs:appinfo>
                      Other gastroenteritis and colitis of infectious and unspecified origin
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='A07'>
                  <xs:annotation>
                    <xs:appinfo>
                       Other protozoal intestinal diseases
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='A02'>
                  <xs:annotation>
                    <xs:appinfo>
                       Other salmonella infections
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='A03'>
                  <xs:annotation>
                    <xs:appinfo>
                      Shigellosis
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='A01'>
                  <xs:annotation>
                    <xs:appinfo>
                      Typhoid and paratyphoid fevers
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='A08'>
                  <xs:annotation>
                    <xs:appinfo>
                       Viral and other specified intestinal infections
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-8111d7f0-419c-475a-80dc-8da5e1bdc187' substitutionGroup='mlhim2:items' type='mlhim2:ct-8111d7f0-419c-475a-80dc-8da5e1bdc187'/>
  <xs:complexType name='ct-8111d7f0-419c-475a-80dc-8da5e1bdc187'>
    <xs:complexContent>
      <xs:restriction base='mlhim2:ElementType'>
        <xs:sequence>
          <xs:element  maxOccurs='1' minOccurs='1' ref='mlhim2:el-13ba6841-8d08-476a-a70b-dfcbc675686f'/>
        </xs:sequence>
      </xs:restriction>
    </xs:complexContent>
  </xs:complexType>


  <xs:complexType name='ct-13ba6841-8d08-476a-a70b-dfcbc675686f'>
    <xs:annotation>
    <xs:documentation>
      Tuberculosis ICD-10 3-digit codes.
    </xs:documentation>
    <xs:appinfo>
    <rdf:Description rdf:about='mlhim2:ct-13ba6841-8d08-476a-a70b-dfcbc675686f'>
      <rdf:isDefinedBy rdf:resource='http%3A//apps.who.int/classifications/icd10/browse/2010/en%23/A15-A19'/>
    </rdf:Description>
    </xs:appinfo>
    </xs:annotation>
    <xs:complexContent>
      <xs:restriction base='mlhim2:DvCodedStringType'>
        <xs:sequence>
          <xs:element maxOccurs='1' minOccurs='1' name='data-name' type='xs:string' fixed='Tuberculosis'/>
          <xs:element maxOccurs='1' minOccurs='0' ref='mlhim2:ExceptionalValue'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-begin' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='0' name='valid-time-end' type='xs:dateTime'/>
          <xs:element maxOccurs='1' minOccurs='1' name='DvString-dv'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value=' Miliary tuberculosis'/>
                <xs:enumeration value='Respiratory tuberculosis, bacteriologically and histologically confirmed'/>
                <xs:enumeration value='Respiratory tuberculosis, not confirmed bacteriologically or histologically'/>
                <xs:enumeration value=' Tuberculosis of nervous system'/>
                <xs:enumeration value=' Tuberculosis of other organs'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-abbrev'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='ICD-10'/>
                <xs:enumeration value='ICD-10'/>
                <xs:enumeration value='ICD-10'/>
                <xs:enumeration value='ICD-10'/>
                <xs:enumeration value='ICD-10'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-name'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='International Classification of Diseases - 10th Revision'/>
                <xs:enumeration value='International Classification of Diseases - 10th Revision'/>
                <xs:enumeration value='International Classification of Diseases - 10th Revision'/>
                <xs:enumeration value='International Classification of Diseases - 10th Revision'/>
                <xs:enumeration value='International Classification of Diseases - 10th Revision'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-version'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='2010'/>
                <xs:enumeration value='2010'/>
                <xs:enumeration value='2010'/>
                <xs:enumeration value='2010'/>
                <xs:enumeration value='2010'/>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          <xs:element maxOccurs='1' minOccurs='1' name='terminology-code'>
            <xs:simpleType>
              <xs:restriction base='xs:string'>
                <xs:enumeration value='A19'>
                  <xs:annotation>
                    <xs:appinfo>
                       Miliary tuberculosis
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='A15'>
                  <xs:annotation>
                    <xs:appinfo>
                      Respiratory tuberculosis, bacteriologically and histologically confirmed
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='A16'>
                  <xs:annotation>
                    <xs:appinfo>
                      Respiratory tuberculosis, not confirmed bacteriologically or histologically
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='A17'>
                  <xs:annotation>
                    <xs:appinfo>
                       Tuberculosis of nervous system
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
                <xs:enumeration value='A18'>
                  <xs:annotation>
                    <xs:appinfo>
                       Tuberculosis of other organs
                    </xs:appinfo>
                  </xs:annotation>
                </xs:enumeration>
              </xs:restriction>
            </xs:simpleType>
          </xs:element>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:element name='el-c2ff031f-bcf9-4c09-9bf1-c4a731006c74' substitutionGroup='mlhim2:definition ' type='mlhim2:ct-c2ff031f-bcf9-4c09-9bf1-c4a731006c74'/>
  <xs:element name='el-83cfaa04-2563-43c0-8411-5a3adc7b12b4' substitutionGroup='mlhim2:entry-subject ' type='mlhim2:ct-83cfaa04-2563-43c0-8411-5a3adc7b12b4'/>
  <xs:element name='el-83fc62c8-8df8-472a-b590-d8ecea82d695' substitutionGroup='mlhim2:entry-provider ' type='mlhim2:ct-83fc62c8-8df8-472a-b590-d8ecea82d695'/>
  <xs:element name='el-4c8a56b0-c452-4b78-a861-1f2a47163693' substitutionGroup='mlhim2:external-ref ' type='mlhim2:ct-4c8a56b0-c452-4b78-a861-1f2a47163693'/>
  <xs:element name='el-e0787d17-cc12-4383-ac3d-05bd9de42989' substitutionGroup='mlhim2:entry-data ' type='mlhim2:ct-e0787d17-cc12-4383-ac3d-05bd9de42989'/>
  <xs:element name='el-fb37b1ab-1577-4537-881a-c19c2994aa50' substitutionGroup='mlhim2:Element-dv ' type='mlhim2:ct-fb37b1ab-1577-4537-881a-c19c2994aa50'/>
  <xs:element name='el-13ba6841-8d08-476a-a70b-dfcbc675686f' substitutionGroup='mlhim2:Element-dv ' type='mlhim2:ct-13ba6841-8d08-476a-a70b-dfcbc675686f'/>

</xs:schema>
